$utils-media: mobile;
$utils-media-breakpoint: ();
$utils-namespace: '';

@function utils-namespace($namespace: $utils-namespace) {
	@return utils-prefix($namespace);
}
@function utils-prefix($name, $appendix: '-') {
	$name: if($name, nth($name, 1), ''); // если $name false или null преобразовать в пустую строку
	@return if(str_length('#{$name}') == 0, '', '#{$name}#{$appendix}'); // '#{$name}' - на случай использования ключевого слова как например `green`
}
@function utils-suffix($name, $appendix: '--') {
	$name: if($name, nth($name, 1), ''); // если $name false или null преобразовать в пустую строку
	@return if(str_length('#{$name}') == 0, '', '#{$appendix}#{$name}'); // '#{$name}' - на случай использования ключевого слова как например `green`
}
@function utils-keyword($name) {
	@return utils-suffix($name, '--_');
}
@function utils-mod($name) {
	@return if($name == 'default', '', utils-suffix($name));
}
@function utils-mods($mods) {
	@if index($mods, 'default') == null {
		$mods: append($mods, 'default');
	}
	@return $mods;
}
@function utils-em($px, $base: 16) {
	@return $px / $base + 0em;
}
@function utils-rem($px, $base: 10) {
	@return $px / $base + 0rem;
}
@function utils-class-name($class) {
	@return '#{utils-namespace()}#{$class}';
}
@function utils-class-selector($class) {
	@return '.#{utils-class-name($class)}';
}

// /*
//   ██████ ██       █████  ███████ ███████
//  ██      ██      ██   ██ ██      ██
//  ██      ██      ███████ ███████ ███████
//  ██      ██      ██   ██      ██      ██
//   ██████ ███████ ██   ██ ███████ ███████
// */
// #class
@mixin utils-class($class, $targets: null) {
	.#{utils-class-name($class)} {
		@content;
	}
	@if $targets {
		@include utils-class-apply($class, $targets) {
			@content;
		}
	}
}
@mixin utils-class-apply($class, $targets) {
	#{join($targets, (), comma)} {
		&.#{utils-class-name($class)} {
			@content;
		}
	}
}
// @mixin utils-class($name, $output: true) {
// 	@if $output {
// 		$ns: utils-namespace();
// 		.#{$ns}#{$name} {
// 			@content;
// 		}
// 	} @else {
// 		@content;
// 	}
// }
// @mixin utils-class-modificator($class, $mod, $extender: null, $extender-mods: null) {
// 	$ns: utils-namespace();
// 	$extender: if($extender == null, $class, $extender);
// 	$extender-mods: if($extender-mods == null, $mod, utils-mods($extender-mods));
// 	$mod: utils-mod($mod);
// 	#{if($mod == '', '&', '&.#{$ns}#{$class}#{$mod}')} {
// 		@include utils-extend($extender, $extender-mods);
// 		@content;
// 	}
// }
// @mixin utils-class-modificator($class, $mod, $extender: null, $extender-mods: null) {
// 	$ns: utils-namespace();
// 	$extender: if($extender == null, $class, $extender);
// 	$extender-mods: if($extender-mods == null, $mod, utils-mods($extender-mods));
// 	.#{$ns}#{$class}.#{$ns}#{$class}#{utils-mod($mod)} {
// 		@include utils-extend($extender, $extender-mods);
// 		@content;
// 	}
// }

// /*
//  ███    ███  ██████  ██████  ██ ███████ ██  ██████  █████  ████████  ██████  ██████
//  ████  ████ ██    ██ ██   ██ ██ ██      ██ ██      ██   ██    ██    ██    ██ ██   ██
//  ██ ████ ██ ██    ██ ██   ██ ██ █████   ██ ██      ███████    ██    ██    ██ ██████
//  ██  ██  ██ ██    ██ ██   ██ ██ ██      ██ ██      ██   ██    ██    ██    ██ ██   ██
//  ██      ██  ██████  ██████  ██ ██      ██  ██████ ██   ██    ██     ██████  ██   ██
// */
// #modificator
@mixin utils-modificator($class, $mod: 'default', $output: true) {
	@at-root {
		@include utils-placeholder($class, $mod) {
			@content;
		}
	}
	@if $output {
		$class-name: utils-class-name($class);
		$selector: '.#{$class-name}';
		@if $mod != 'default' {
			$selector: $selector + '.#{$class-name}#{utils-mod($mod)}';
		}
		#{$selector} {
			@include utils-extend($class, $mod);
		}
	}
}
// @mixin utils-modificator-extend($class, $mod: 'default', $extender: null, $extender-mods: null) {
// 	@include utils-placeholder-extend($extendee, $extendee-mod, $extender, $extender-mods);
// 	$ns: utils-namespace();
// 	$extender: if($extender == null, $class, $extender);
// 	$extender-mods: if($extender-mods == null, $mod, utils-mods($extender-mods));
// 	$selector: '&';
// 	@if $mod != 'default' {
// 		$selector: $selector + '.#{$ns}#{$class}#{utils-mod($mod)}';
// 	}
// 	#{$selector} {
// 		@include utils-extend($class, $mod);
// 	}
// }
// @mixin utils-modificator-child($class, $mod, $child-class, $child-class-mods: 'default') {
// 	@include utils-modificator-child-modificator($class, $mod, $child-class, utils-mods($child-class-mods));
// }
// @mixin utils-modificator-child-modificator($class, $mod, $child-class, $child-class-mods: null) {
// 	$ns: utils-namespace();
// 	$mod: utils-mod($mod);
// 	.#{$ns}#{$class}.#{$ns}#{$class}#{mod} .#{$ns}#{$child-class} {
// 		@include utils-extend($child-class, $child-class-mods);
// 	}
// }
// @mixin utils-modificator-direct-child($class, $mod, $child-class, $child-class-mods: 'default') {
// 	@include utils-modificator-direct-child-modificator($class, $mod, $child-class, utils-mods($child-class-mods));
// }
// @mixin utils-modificator-direct-child-modificator($class, $mod, $child-class, $child-class-mods: null) {
// 	$ns: utils-namespace();
// 	$mod: utils-mod($mod);
// 	.#{$ns}#{$class}.#{$ns}#{$class}#{mod} > .#{$ns}#{$child-class} {
// 		@include utils-extend($child-class, $child-class-mods);
// 	}
// }

// /*
//  ███████ ██   ██ ████████ ███████ ███    ██ ██████
//  ██       ██ ██     ██    ██      ████   ██ ██   ██
//  █████     ███      ██    █████   ██ ██  ██ ██   ██
//  ██       ██ ██     ██    ██      ██  ██ ██ ██   ██
//  ███████ ██   ██    ██    ███████ ██   ████ ██████
// */
// #extend
@mixin utils-extend($extender, $mods: 'default', $media: null, $optional: false) {
// 	@include utils-extend-modificator($extender, utils-mods($mods), $media, $optional);
// }
// @mixin utils-extend-modificator($extender, $mods, $media: null, $optional: false) {
	$media: utils-keyword($media);
	$class-name: utils-class-name($extender);
	@each $mod in $mods {
		$optional: if($mod == 'default' or $optional, true, false);
		$mod: utils-mod($mod);
		@if $optional {
			@extend %#{$class-name}#{$mod}#{$media} !optional;
		} @else {
			@extend %#{$class-name}#{$mod}#{$media};
		}
		// $children: utils-keyword('children');
		// @extend %#{$ns}#{$extender}#{$mod}#{$children}#{$media} !optional;
	}
}

// /*
//  ██████  ██       █████   ██████ ███████ ██   ██  ██████  ██      ██████  ███████ ██████
//  ██   ██ ██      ██   ██ ██      ██      ██   ██ ██    ██ ██      ██   ██ ██      ██   ██
//  ██████  ██      ███████ ██      █████   ███████ ██    ██ ██      ██   ██ █████   ██████
//  ██      ██      ██   ██ ██      ██      ██   ██ ██    ██ ██      ██   ██ ██      ██   ██
//  ██      ███████ ██   ██  ██████ ███████ ██   ██  ██████  ███████ ██████  ███████ ██   ██
// */
// #placeholder
@mixin utils-placeholder($name, $mod: 'default', $all-media: true) {
	$ns: utils-namespace();
	$mod: utils-mod($mod);
	%#{$ns}#{$name}#{$mod} {
		@content;
	}
	@if $all-media {
		@each $media in $utils-media {
			@include utils-media($media) {
				$media: utils-keyword($media);
				%#{$ns}#{$name}#{$mod}#{$media} {
					@content;
				}
			}
		}
	}
}
@mixin utils-placeholder-extend($extendee, $extendee-mod, $extender, $extender-mods: 'default') {
	$ns: utils-namespace();
	$extendee-mod: utils-mod($extendee-mod);
	%#{$ns}#{$extendee}#{$extendee-mod} {
		@include utils-extend($extender, $extender-mods);
		@content;
	}
	@each $media in $utils-media {
		@include utils-media($media) {
			$media-prefix: utils-keyword($media);
			%#{$ns}#{$extendee}#{$extendee-mod}#{$media-prefix} {
				@include utils-extend($extender, $extender-mods, $media);
				@content;
			}
		}
	}
}
@mixin utils-placeholder-child($name, $mod, $class, $mods: null) {
	$ns: utils-namespace();
	$mod: utils-mod($mod);
	%#{$ns}#{$name}#{$mod} {
		@include utils-child($class, $mods) {
			@content;
		}
	}
	@each $media in $utils-media {
		@include utils-media($media) {
			$media-prefix: utils-keyword($media);
			%#{$ns}#{$name}#{$mod}#{$media-prefix} {
				@include utils-child($class, $mods, $media) {
					@content;
				}
			}
		}
	}
}
@mixin utils-placeholder-direct-child($name, $mod, $class, $mods: null) {
	$ns: utils-namespace();
	$mod: utils-mod($mod);
	%#{$ns}#{$name}#{$mod} {
		@include utils-direct-child($class, $mods) {
			@content;
		}
	}
	@each $media in $utils-media {
		@include utils-media($media) {
			$media-prefix: utils-keyword($media);
			%#{$ns}#{$name}#{$mod}#{$media-prefix} {
				@include utils-direct-child($class, $mods, $media) {
					@content;
				}
			}
		}
	}
}

// /*
//   ██████ ██   ██ ██ ██      ██████
//  ██      ██   ██ ██ ██      ██   ██
//  ██      ███████ ██ ██      ██   ██
//  ██      ██   ██ ██ ██      ██   ██
//   ██████ ██   ██ ██ ███████ ██████
// */
// #child
// @mixin utils-child($class, $mods: 'default', $media: null) {
// 	@include utils-child-modificator($class, utils-mods($mods), $media) {
// 		@content;
// 	}
// }
@mixin utils-child($class, $mods: null, $media: null) {
	$ns: utils-namespace();
	.#{$ns}#{$class} {
		@include utils-extend($class, $mods, $media);
		@content;
	}
}
// @mixin utils-direct-child($class, $mods: 'default', $media: null) {
// 	@include utils-direct-child-modificator($class, utils-mods($mods), $media) {
// 		@content;
// 	}
// }
@mixin utils-direct-child($class, $mods: null, $media: null) {
	$ns: utils-namespace();
	> .#{$ns}#{$class} {
		@include utils-extend($class, $mods, $media);
		@content;
	}
}

// /*
//  ███    ███ ███████ ██████  ██  █████
//  ████  ████ ██      ██   ██ ██ ██   ██
//  ██ ████ ██ █████   ██   ██ ██ ███████
//  ██  ██  ██ ██      ██   ██ ██ ██   ██
//  ██      ██ ███████ ██████  ██ ██   ██
// */
// #media
@mixin utils-media($media) {
	@if not index($utils-media, $media) {
		@error 'Название медиа-пространства указано неверно ("#{$media}"): такого нет в $utils-media';
	}
	@if length($utils-media) > 1 {
		$i: index($utils-media, $media);
		$l: length($utils-media);
		@if $i == 1 {
			@media (max-width: utils-em(nth(nth($utils-media-breakpoint, $i), 2))) {
				@content;
			}
		} @else if $i > 1 and $i < $l {
			@media 
				(min-width: utils-em(nth(nth($utils-media-breakpoint, $i - 1), 2)) + .01em)
				and 
				(max-width: utils-em(nth(nth($utils-media-breakpoint, $i), 2)))
			{
				@content;
			}
		} @else if $i == $l {
			@media (min-width: utils-em(nth(nth($utils-media-breakpoint, $i - 1), 2)) + .01em) {
				@content;
			}
		}
	}
}

// /*
//  ███████ ████████ ██████  ██ ███    ██  ██████      ████████  ██████
//  ██         ██    ██   ██ ██ ████   ██ ██              ██    ██    ██
//  ███████    ██    ██████  ██ ██ ██  ██ ██   ███        ██    ██    ██
//       ██    ██    ██   ██ ██ ██  ██ ██ ██    ██        ██    ██    ██
//  ███████    ██    ██   ██ ██ ██   ████  ██████         ██     ██████
// 
//  ███    ██ ██    ██ ███    ███ ██████  ███████ ██████
//  ████   ██ ██    ██ ████  ████ ██   ██ ██      ██   ██
//  ██ ██  ██ ██    ██ ██ ████ ██ ██████  █████   ██████
//  ██  ██ ██ ██    ██ ██  ██  ██ ██   ██ ██      ██   ██
//  ██   ████  ██████  ██      ██ ██████  ███████ ██   ██
// */
// #string #number
///
/// Casts a string into a number
/// https://www.sassmeister.com/gist/9fa19d254864f33d4a80
///
/// @param {String | Number} $value - Value to be parsed
///
/// @return {Number}
///
@function utils-to-number($value) {
	@if type-of($value) == 'number' {
		@return $value;
	} @else if type-of($value) != 'string' {
		$_: log('Value for `to-number` should be a number or a string.');
	}

	$result: 0;
	$digits: 0;
	$minus: str-slice($value, 1, 1) == '-';
	$numbers: ('0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9);

	@for $i from if($minus, 2, 1) through str-length($value) {
		$character: str-slice($value, $i, $i);

		@if not (index(map-keys($numbers), $character) or $character == '.') {
			@return utils-to-length(if($minus, -$result, $result), str-slice($value, $i));
		}

		@if $character == '.' {
			$digits: 1;
		} @else if $digits == 0 {
			$result: $result * 10 + map-get($numbers, $character);
		} @else {
			$digits: $digits * 10;
			$result: $result + map-get($numbers, $character) / $digits;
		}
	}

	@return if($minus, -$result, $result);
}

///
/// Add `$unit` to `$value`
/// https://www.sassmeister.com/gist/9fa19d254864f33d4a80
///
/// @param {Number} $value - Value to add unit to
/// @param {String} $unit - String representation of the unit
///
/// @return {Number} - `$value` expressed in `$unit`
///
@function utils-to-length($value, $unit) {
	$units: ('px': 1px, 'cm': 1cm, 'mm': 1mm, '%': 1%, 'ch': 1ch, 'pc': 1pc, 'in': 1in, 'em': 1em, 'rem': 1rem, 'pt': 1pt, 'ex': 1ex, 'vw': 1vw, 'vh': 1vh, 'vmin': 1vmin, 'vmax': 1vmax);

	@if not index(map-keys($units), $unit) {
		$_: log('Invalid unit `#{$unit}`.');
	}

	@return $value * map-get($units, $unit);
}

// /*
//  ██    ██ ███████ ███    ██ ██████   ██████  ██████
//  ██    ██ ██      ████   ██ ██   ██ ██    ██ ██   ██
//  ██    ██ █████   ██ ██  ██ ██   ██ ██    ██ ██████
//   ██  ██  ██      ██  ██ ██ ██   ██ ██    ██ ██   ██
//    ████   ███████ ██   ████ ██████   ██████  ██   ██
// 
//  ██████  ██████  ███████ ███████ ██ ██   ██
//  ██   ██ ██   ██ ██      ██      ██  ██ ██
//  ██████  ██████  █████   █████   ██   ███
//  ██      ██   ██ ██      ██      ██  ██ ██
//  ██      ██   ██ ███████ ██      ██ ██   ██
// */
// #vendor #prefix
@mixin utils-vendor-prefix($prop, $value) {
	@if $prop == keyframes {
		@-webkit-keyframes #{$value} {
			@content;
		}
		@keyframes #{$value} {
			@content;
		}
	}
	@if $prop == 'user-select' {
		-webkit-user-select: $value;
		-moz-user-select: $value;
		-ms-user-select: $value;
		user-select: $value;
	}
	@if $prop == 'appearance' {
		-webkit-appearance: $value;
		-moz-appearance: $value;
		appearance: $value;
	}
	@if $prop == 'animation' {
		-webkit-animation: $value;
		animation: $value;
	}
	@if $prop == 'transform' {
		-webkit-transform: $value;
		transform: $value;
	}
	@if $prop == 'transform-origin' {
		-webkit-transform-origin: $value;
		transform-origin: $value;
	}
	@if $prop == 'transition' {
		-webkit-transition: -webkit-#{$value};
		transition: $value;
	}
	// @if $prop == prop {}
}

// /*
//  ███    ███ ██ ██   ██
//  ████  ████ ██  ██ ██
//  ██ ████ ██ ██   ███
//  ██  ██  ██ ██  ██ ██
//  ██      ██ ██ ██   ██
// 
//  ███    ███  ██████  ██████  ███████
//  ████  ████ ██    ██ ██   ██ ██
//  ██ ████ ██ ██    ██ ██   ██ ███████
//  ██  ██  ██ ██    ██ ██   ██      ██
//  ██      ██  ██████  ██████  ███████
// */
// #mixmods #mods
// @mixin utils-mix-mods($class, $list) {

// 	@for $i from 1 through length($list) {
// 		$mod1: if(type-of($item1) == list, nth($item1, 2), $item1);
// 		$alias1: if(type-of($item1) == list, nth($item1, 1), $item1);

// 		&#{&}--#{$alias1} {
// 			@include utils-extend($class, $mod1);
// 		}
// 	}

// 	@each $item in $list {
// 		@each $item1 in $set1 {
// 			$mod1: if(type-of($item1) == list, nth($item1, 2), $item1);
// 			$alias1: if(type-of($item1) == list, nth($item1, 1), $item1);

// 			&#{&}--#{$alias1} {
// 				@include utils-extend($class, $mod1);
// 			}
// 		}
// 	}
	
// }

@mixin utils-mix-mods(
	$class,
	$set1,
	$set2,
	$set3,
	$default1,
	$default2,
	$default3,
	$selector: &
) {
	@each $item1 in $set1 {
		$mod1: if(type-of($item1) == list, nth($item1, 2), $item1);
		$alias1: if(type-of($item1) == list, nth($item1, 1), $item1);
		$mods1: $mod1;

		@if $default2 != null {
			$mods1: append($mods1, $default2);
		}
		@if $default3 != null {
			$mods1: append($mods1, $default3);
		}

		&#{$selector}--#{$alias1} {
			@include utils-extend($class, $mods1);
		}

		@if $set2 != null {
			@each $item2 in $set2 {
				$mod2: if(type-of($item2) == list, nth($item2, 2), $item2);
				$alias2: if(type-of($item2) == list, nth($item2, 1), $item2);
				$mods2-1: $mod2;
				$mods2-2: $mod1 $mod2;

				@if $default1 != null {
					$mods2-1: append($mods2-1, $default1);
				}
				@if $default3 != null {
					$mods2-1: append($mods2-1, $default3);
					$mods2-2: append($mods2-2, $default3);
				}

				&#{$selector}--#{$alias2} {
					@include utils-extend($class, $mods2-1);
				}
				&#{$selector}--#{$alias1}#{$selector}--#{$alias2} {
					@include utils-extend($class, $mods2-2);
				}

				@if $set3 != null {
					@each $item3 in $set3 {
						$mod3: if(type-of($item3) == list, nth($item3, 2), $item3);
						$alias3: if(type-of($item3) == list, nth($item3, 1), $item3);
						$mods3: $mod3;

						@if $default1 != null {
							$mods3: append($mods3, $default1);
						}
						@if $default2 != null {
							$mods3: append($mods3, $default2);
						}

						&#{$selector}--#{$alias3} {
							@include utils-extend($class, $mods3);
						}
						&#{$selector}--#{$alias1}#{$selector}--#{$alias2}#{$selector}--#{$alias3} {
							@include utils-extend($class, $mod1 $mod2 $mod3);
						}
					}
				}
			}
		}
	}

	// @if $props != null {
	// 	@each $prop in $props {
	// 		@if $prop != $default-prop {
	// 			&#{&}--#{$prop} {
	// 				@include utils-extend(gap, unquote("size-#{$default-size}") unquote("#{$prop}"));
	// 			}
	// 		}
	// 	}
	// }
	// @if $sizes-from <= $sizes-to {
	// 	@for $i from $sizes-from through $sizes-to {
	// 		@if $i != $default-size {
	// 			&#{&}--#{$size-name}-#{$i} {
	// 				@include utils-extend(gap, unquote("size-#{$i}") unquote("#{$default-prop}"));
	// 			}
	// 		}
	// 	}
	// }
	// @if $mods != null {
	// 	@each $mod in $mods {
	// 		&#{&}--#{$mod} {
	// 			@include utils-extend(gap, unquote("size-#{$default-size}") unquote("#{$mod}-#{$default-prop}"));
	// 		}
	// 	}
	// }
	// @if $props != null and $sizes-from <= $sizes-to {
	// 	@each $prop in $props {
	// 		@for $i from $sizes-from through $sizes-to {
	// 			&#{&}--#{$prop}#{&}--#{$size-name}-#{$i} {
	// 				@include utils-extend(gap, unquote("size-#{$i}") unquote("#{$prop}"));
	// 			}
	// 		}
	// 	}
	// }
	// @if $mods != null and $sizes-from <= $sizes-to {
	// 	@each $mod in $mods {
	// 		@for $i from $sizes-from through $sizes-to {
	// 			&#{&}--#{$size-name}-#{$i}#{&}--#{$mod} {
	// 				@include utils-extend(gap, unquote("size-#{$i}") unquote("#{$mod}-#{$default-prop}"));
	// 			}
	// 		}
	// 	}
	// }
	// @if $props != null and $mods != null {
	// 	@each $prop in $props {
	// 		@each $mod in $mods {
	// 			&#{&}--#{$prop}#{&}--#{$mod} {
	// 				@include utils-extend(gap, unquote("size-#{$default-size}") unquote("#{$mod}-#{$prop}"));
	// 			}
	// 		}
	// 	}
	// }
	// @if $props != null and $sizes-from <= $sizes-to and $mods != null {
	// 	@each $prop in $props {
	// 		@for $i from $sizes-from through $sizes-to {
	// 			@each $mod in $mods {
	// 				&#{&}--#{$prop}#{&}--#{$size-name}-#{$i}#{&}--#{$mod} {
	// 					@include utils-extend(gap, unquote("size-#{$i}") unquote("#{$mod}-#{$prop}"));
	// 				}
	// 			}
	// 		}
	// 	}
	// }


	// // @each $prop in $props {
	// // 	@debug $prop;
	// // 	@for $i from 1 through 2 {
	// // 		@debug size- + $i;
	// // 		@debug $prop + ' - ' + size- + $i;
	// // 		@each $mod in row column combine {
	// // 			@debug $mod;
	// // 			@debug $prop + ' - ' + $mod;
	// // 			@debug $prop + ' - ' + size- + $i + ' - ' + $mod;
	// // 		}
	// // 	}
	// // }


	// // @each $prop in $props {
	// // 	&#{&}--#{$prop} {
	// // 		@include utils-extend(gap, unquote("size-#{$default-size}") unquote("#{$prop}"));
	// // 	}
	// // 	@for $i from $sizes-from through $sizes-to {
	// // 		&#{&}--#{$prop}#{&}--#{$size-name}-#{$i} {
	// // 			@include utils-extend(gap, unquote("size-#{$i}") unquote("#{$prop}"));
	// // 		}
	// // 		@each $mod in $mods {
	// // 			&#{&}--#{$prop}#{&}--#{$size-name}-#{$i}#{&}--#{$mod} {
	// // 				@include utils-extend(gap, unquote("size-#{$i}") unquote("#{$mod}-#{$prop}"));
	// // 			}
	// // 		}
	// // 	}
	// // }


	// // @each $prop in $props {
	// // 	@for $i from $sizes-from through $sizes-to {
	// // 		@if $prop == $default-prop {
	// // 			@if $i == $default-size {
	// // 				@if $mods != null {
	// // 					@each $mod in $mods {
	// // 						&#{&}--#{$mod} {
	// // 							@include utils-extend(gap, unquote("size-#{$i}") unquote("#{$mod}-#{$prop}"));
	// // 						}
	// // 					}
	// // 				}
	// // 			} @else {
	// // 				&#{&}--#{$size-name}-#{$i} {
	// // 					@include utils-extend(gap, unquote("size-#{$i}") unquote("#{$prop}"));
	// // 				}
	// // 				@if $mods != null {
	// // 					@each $mod in $mods {
	// // 						&#{&}--#{$size-name}-#{$i}#{&}--#{$mod} {
	// // 							@include utils-extend(gap, unquote("size-#{$i}") unquote("#{$mod}-#{$prop}"));
	// // 						}
	// // 					}
	// // 				}
	// // 			}
	// // 		} @else {
	// // 			@if $i == $default-size {
	// // 				&#{&}--#{$prop} {
	// // 					@include utils-extend(gap, unquote("size-#{$i}") unquote("#{$prop}"));
	// // 				}
	// // 				@if $mods != null {
	// // 					@each $mod in $mods {
	// // 						&#{&}--#{$prop}#{&}--#{$mod} {
	// // 							@include utils-extend(gap, unquote("size-#{$i}") unquote("#{$mod}-#{$prop}"));
	// // 						}
	// // 					}
	// // 				}
	// // 			} @else {
	// // 				&#{&}--#{$prop}#{&}--#{$size-name}-#{$i} {
	// // 					@include utils-extend(gap, unquote("size-#{$i}") unquote("#{$prop}"));
	// // 				}
	// // 				@if $mods != null {
	// // 					@each $mod in $mods {
	// // 						&#{&}--#{$prop}#{&}--#{$size-name}-#{$i}#{&}--#{$mod} {
	// // 							@include utils-extend(gap, unquote("size-#{$i}") unquote("#{$mod}-#{$prop}"));
	// // 						}
	// // 					}
	// // 				}
	// // 			}
	// // 		}
	// // 	}
	// // }
}