<div class="egrn-popup" data-egrn-popup-id="{{id}}">
	<div class="egrn-popup-container">
		<div class="egrn-popup-body"></div>
		<svg class="egrn-popup-tip" viewBox="0 0 100 100" preserveAspectRatio="none"><use xlink:href="#egrn-svg_sprite-triangle"/></svg>
	</div>
</div>