<div class="egrn-search_invitation egrn-search_invitation--hidden">
	<h1 class="egrn-search_invitation-heading egrn-h1">Публичная кадастровая карта</h1>
	<div class="egrn-search_invitation-tip">Просто введите адрес или кадастровый номер</div>
	{{! Android Browser 4.4.4 не поддерживает анимацию через <use>, поэтому решено все-таки использовать встраивание SVG }}
	{{!
	<svg class="egrn-search_invitation-arrow">
		<use xlink:href="#egrn-svg_sprite-egrn-search_tool-invitation-arrow"></use>
	</svg>
	}}
	<svg class="egrn-search_invitation-arrow" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
		{{!
		<path class="egrn-search_invitation-arrow-shaft" d="m95.472528 93.498049c-45.31907-5.630969-76.316442-34.868626-84.140155-80.550787" style="fill:none" />
		}}
		<path class="egrn-search_invitation-arrow-shaft" d="M 95.472528,93.498049 C 50.153458,87.86708 17.952585,59.614106 10.894736,10.54026" style="fill:none" />
		<path class="egrn-search_invitation-arrow-head" d="m4.5254838 22.480996s3.7889012-8.474428 6.0811182-13.859293c3.949389 3.983068 13.435028 13.717871 13.435028 13.717871" style="fill:none" />
	</svg>
</div>