// /*
//   █████  ███    ██ ██ ███    ███  █████  ████████ ██  ██████  ███    ██
//  ██   ██ ████   ██ ██ ████  ████ ██   ██    ██    ██ ██    ██ ████   ██
//  ███████ ██ ██  ██ ██ ██ ████ ██ ███████    ██    ██ ██    ██ ██ ██  ██
//  ██   ██ ██  ██ ██ ██ ██  ██  ██ ██   ██    ██    ██ ██    ██ ██  ██ ██
//  ██   ██ ██   ████ ██ ██      ██ ██   ██    ██    ██  ██████  ██   ████
// */
// #animation
$egrn-easing: cubic-bezier(.5, 0, .5, 1);

@include utils-vendor-prefix(keyframes, 'egrn-slidein') {
	to {
		@include utils-vendor-prefix(transform, translate3d(0, 0, 0));
		opacity: 1;
	}
}