// /*
//   █████  ██████  ██████
//  ██   ██ ██   ██ ██   ██
//  ███████ ██████  ██████
//  ██   ██ ██      ██
//  ██   ██ ██      ██
// */
// #app
.egrn-app {
	@include utils-extend('app');
	@include egrn-readiness('loaded');
}

%egrn-app {
	@include utils-extend('text');
	@include utils-extend('icon', 'color-normal');
	height: 100%;
}
// %egrn-app--body-like {
// 	display: table;
// 	width: 100%;
// }