// /*
//  ██████   █████  ███████ ███████
//  ██   ██ ██   ██ ██      ██
//  ██████  ███████ ███████ █████
//  ██   ██ ██   ██      ██ ██
//  ██████  ██   ██ ███████ ███████
// */
// #base
$egrn-base-text-input-tags: 'textarea' 'input' 'input[type="text"]';
$egrn-base-button-tags: 'button' 'input' 'input[type="button"]' 'input[type="submit"]';

html {
	font-size: .625em;
	height: 100%;
}
body {
	// height: 100%;
	@include utils-extend('app'); // #TEMP Это временно пока не исправлены шаблоны в друпале на хосте
}
svg {
	@include utils-extend('normalize', 'svg');
}