// /*
//  ██████  ██       ██████   ██████ ██   ██
//  ██   ██ ██      ██    ██ ██      ██  ██
//  ██████  ██      ██    ██ ██      █████
//  ██   ██ ██      ██    ██ ██      ██  ██
//  ██████  ███████  ██████   ██████ ██   ██
// */
// #block
.egrn-block {
	@extend %egrn-box;

	padding: 3rem 0;
	box-sizing: border-box;
	width: 35.3rem;
	position: absolute;
	right: 0;
	top: 0;

	&#{&}--wide {
		width: 50rem;
	}
	
	@include utils-media('mobile') {
		display: none;
	}
}
.egrn-block-close {
	position: absolute;
	top: 1rem;
	right: 1rem;

	@include utils-media('desktop') {
		visibility: hidden;
	}
	@include utils-media('mobile') {
		
	}
}
.egrn-block-content {
	// padding: 0 1rem 0 3rem;
	padding: 0 3rem;
	height: 30rem;
	overflow-y: auto;

	@include utils-media('mobile') {
		height: auto;
		min-height: 50rem;
		padding: 0;
	}
}
.egrn-block-section {

	&#{&}--margin {
		@include utils-media('mobile') {
			margin: 0 2rem;
		}
	}
	&#{&}--padding-for-submit {
		@include utils-media('mobile') {
			padding-bottom: 3.5rem;
		}
	}
}
// .egrn-block-content-clip {
// 	position: relative;
// 	overflow-y: auto;
// 	overflow-x: hidden;
// 	padding: 0 2rem 0 0;
// 	height: 100%;
// }
// .egrn-block-content-container {
// 	position: absolute;
// 	// width: 29.3rem;
// }
.egrn-block-title {
	@include utils-extend('heading', 'default' 'size-1');

	margin-top: 0;
	// margin-bottom: 3.4rem;
	margin-bottom: 2.5rem;
}
// .egrn-block-sections {}
.egrn-block-section {
	// margin-bottom: 3.5rem;

	// &:last-child {
	// 	margin-bottom: 0;
	// }

	// .egrn-paragraph {
	// 	&:last-child {
	// 		margin-bottom: 0;
	// 	}
	// }
}

.egrn-block-submit {
	@include utils-media('desktop') {
		visibility: hidden;
	}

	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	background: #7c8186;
	text-align: center;
}