// /*
//  ██████  ██      ██    ██ ███████
//  ██   ██ ██      ██    ██ ██
//  ██████  ██      ██    ██ █████
//  ██   ██ ██      ██    ██ ██
//  ██████  ███████  ██████  ███████
// 
//  ███████ ███████  ██████ ████████ ██  ██████  ███    ██
//  ██      ██      ██         ██    ██ ██    ██ ████   ██
//  ███████ █████   ██         ██    ██ ██    ██ ██ ██  ██
//       ██ ██      ██         ██    ██ ██    ██ ██  ██ ██
//  ███████ ███████  ██████    ██    ██  ██████  ██   ████
// */
// #bluesection #section
.egrn-blue_section {
	@include utils-extend('paragraph', 'margin');

	border: thin solid #E4E6E8;
	border-radius: .2rem;
}
.egrn-blue_section-header {
	background: #F6F9FB;
	padding: 1.8rem;
	border-bottom: thin solid #E4E6E8;
}
.egrn-blue_section-header-line {
	@include utils-extend('edge', 'default' 'column-margin');
	
	margin-bottom: 1rem;
}
.egrn-blue_section-address {
	@include utils-extend('text', 'bold' 'bigger-2');
}
.egrn-blue_section-address_details {
	@include utils-extend('text', 'muted');
}
.egrn-blue_section-address_details-item {
	margin-right: 1.8rem;
}