// /*
//  ██████   ██████  ████████ ████████  ██████  ███    ███
//  ██   ██ ██    ██    ██       ██    ██    ██ ████  ████
//  ██████  ██    ██    ██       ██    ██    ██ ██ ████ ██
//  ██   ██ ██    ██    ██       ██    ██    ██ ██  ██  ██
//  ██████   ██████     ██       ██     ██████  ██      ██
// 
//  ██████   █████  ██████
//  ██   ██ ██   ██ ██   ██
//  ██████  ███████ ██████
//  ██   ██ ██   ██ ██   ██
//  ██████  ██   ██ ██   ██
// */
// #bottombar
$egrn-bottombar-height: 3.4rem;

.egrn-bottombar {
	@include utils-extend('row', 'default' 'stretch');

	position: absolute;
	right: 0;
	bottom: 0;
	height: $egrn-bottombar-height;

	@include utils-media('mobile') {
		display: none; // #FIXME: По идее надо организовать отображение элементов таким образом, чтобы они использовались повторно, а не дублировались.
	}

	&#{&}--static {
		position: static;
	}
}
.egrn-bottombar-group {
	@include utils-extend('row', 'default' 'stretch');

	margin: 0 .5rem 0 0;
	background: #e7e9eb;
	border-radius: $egrn-fancy-corners-border-radius;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding: 0 1.5rem;

	&:last-child {
		margin-right: 0;
		border-top-right-radius: 0;
	}

	&#{&}--dark {
		background: #7b8085;

		.egrn-bottombar-link {
			@extend %egrn-bottombar-link--dark;
		}
	}
	&#{&}--dark-special {
		background: transparent;
		padding: 0;

		.egrn-bottombar-link {
			@extend %egrn-bottombar-link--dark-special;
		}
	}
}
.egrn-bottombar-link,
a.egrn-bottombar-link {
	@include utils-extend('row');
	@include utils-extend('link', 'interactivity');

	padding: 0 1.1rem;
	color: $egrn-text-color;
	text-decoration: none;

	white-space: nowrap;

	&:hover, &:focus {
		background: darken(#e7e9eb, 5%);
	}
	&:focus {
		position: relative; // чтобы outline вылез поверх соседней ссылки
	}
}
%egrn-bottombar-link--dark {
	color: #fff;
	background: #7b8085;

	&:hover, &:focus {
		background: #6c737a;
	}
}
%egrn-bottombar-link--dark-special {
	@extend %egrn-bottombar-link--dark;

	border-radius: $egrn-fancy-corners-border-radius;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding-left: 1.8rem;
	padding-right: 1.8rem;
}