// /*
//  ██████   ██████  ██   ██
//  ██   ██ ██    ██  ██ ██
//  ██████  ██    ██   ███
//  ██   ██ ██    ██  ██ ██
//  ██████   ██████  ██   ██
// */
// #box
$egrn-box-border-radius: utils-rem(map-get($map: $egrn-design-border-radius, $key: box));

@include utils-placeholder-extend('box', 'default', 'contain-margins');
@include utils-placeholder-extend('box', 'default', 'shadow', 'normal');
@include utils-placeholder-extend('box', 'default', 'box', 'border-radius') {
	background: #fff;
}
@include utils-placeholder('box', 'border-radius') {
	border-radius: $egrn-box-border-radius;
}
@include utils-placeholder-extend('box', 'shadow-wide', 'shadow', 'wide');

.egrn-box {
	@include utils-extend('box');

	&#{&}--shadow-wide {
		@include utils-extend('box', 'shadow-wide');
	}
}