// /*
//  ██████  ██    ██ ████████ ████████  ██████  ███    ██
//  ██   ██ ██    ██    ██       ██    ██    ██ ████   ██
//  ██████  ██    ██    ██       ██    ██    ██ ██ ██  ██
//  ██   ██ ██    ██    ██       ██    ██    ██ ██  ██ ██
//  ██████   ██████     ██       ██     ██████  ██   ████
// */
// #button
@mixin egrn-button--mods($class: 'button') {
	$class-name: utils-class-name($class);

	@include egrn-gap--mods($class, 5 10 15 20 30);

	&.#{$class-name}--icon {
		@include utils-extend('button', 'icon');
	}
	&.#{$class-name}--tight {
		@include utils-extend('button', 'tight');
	}
	&.#{$class-name}--dense {
		@include utils-extend('button', 'dense');
	}
	&.#{$class-name}--small {
		@include utils-extend('button', 'small');
	}
	&.#{$class-name}--mini {
		@include utils-extend('button', 'mini');
	}
	&.#{$class-name}--green {
		@include utils-extend('button', 'green');
	}
	&.#{$class-name}--gradient {
		@include utils-extend('button', 'gradient');
	}
	&.#{$class-name}--bigger-text {
		@include utils-extend('button', 'bigger-text');
	}
	&.#{$class-name}--block {
		@include utils-extend('button', 'block');
	}
	&.#{$class-name}--alt-font {
		@include utils-extend('button', 'alt-font');
	}
	&.#{$class-name}--submit {
		@include utils-extend('button', 'submit');
	}
	&.#{$class-name}--compensate-padding {
		@include utils-extend('button', 'compensate-padding');
	}
	&.#{$class-name}--icon.#{$class-name}--compensate-padding {
		@include utils-extend('button', 'compensate-padding--icon');
	}
	&.#{$class-name}--dense.#{$class-name}--compensate-padding {
		@include utils-extend('button', 'compensate-padding--dense');
	}
	&.#{$class-name}--small.#{$class-name}--compensate-padding {
		@include utils-extend('button', 'compensate-padding--small');
	}
	&.#{$class-name}--mini.#{$class-name}--compensate-padding {
		@include utils-extend('button', 'compensate-padding--mini');
	}
	&.#{$class-name}--no-substrate {
		@include utils-extend('button', 'no-substrate');
	}
	&.#{$class-name}--muted {
		@include utils-extend('button', 'muted');
	}
	&.#{$class-name}--muted-icon {
		@include utils-extend('button', 'muted-icon');
	}
	&.#{$class-name}--special {
		@include utils-extend('button', 'special');
		@include utils-child('button-icon', 'small');
	}
	&.#{$class-name}--special-2 {
		@include utils-extend('button', 'special-2');
		@include utils-child('button-icon', 'small' 'less-margin');
	}
	&.#{$class-name}--disabled {
		@include utils-extend('button', 'disabled');
	}
	&.#{$class-name}--passive {
		@include utils-extend('button', 'passive');
	}
	&.#{$class-name}--text-ellipsis {
		@include utils-child('button-text', 'ellipsis');
	}
	&.#{$class-name}--transparent {
		@include utils-extend('button', 'transparent');
	}
	&.#{$class-name}--link {
		@include utils-extend('button', 'link');
		
		&:hover, &:active, &:focus {
			@include utils-extend('link', 'active');
		}
	}
}

// #NOTE: Чтобы победить глобальный нормалайз, нужно отнормалайзить все элементы с данным классом, которые не наследуют нормальные стили от базового элемента (egrn-app) вследствие глобального нормалайза, такие элементы как A или BUTTON. А чтобы после нашего частного нормалайза сработали основные стили этого класса, нужно применить и их (так как селектор тут будет сильнее просто `.класс`). Мы не применяем нормалайз глобально к таким элементам, а стараемся сохранить нативные стили браузера без изменения.
.egrn-button {
	@include utils-extend('button', 'default');
	@include egrn-button--mods();
}
// Семантика
@include utils-class-apply('button', $egrn-base-button-tags) {
	@include utils-extend('normalize', 'button');
	@include utils-extend('button', 'default');
	@include egrn-button--mods();

	&:disabled {
		@include utils-extend('button', 'disabled');
	}
}
@include utils-class-apply('button', 'a') {
	@include utils-extend('normalize', 'text');
	@include utils-extend('button', 'default');
	@include egrn-button--mods();
}

// #default
%egrn-button {
	@include utils-extend('wire');
	@include utils-extend('row', 'default' 'inline' 'center');
	@include utils-extend('button', 'interactivity');
	@include utils-extend('icon', 'color-normal');

	border-radius: .3rem;
	white-space: nowrap;
	background-color: #fff;
	padding-left: 1.7rem;
	padding-right: 1.7rem;
	height: 3.9rem;
	box-sizing: border-box;
}
// #interactivity
@include utils-placeholder-extend('button', 'interactivity', 'interactive', 'default' 'pointer') {
	@include utils-vendor-prefix(user-select, none);
}
// #disabled
%egrn-button--disabled {
	@include utils-extend('focus', 'disabled');
	@include utils-extend('wire', 'not-interactive');
	opacity: .3;
	cursor: default;
}
// #passive
%egrn-button--passive {
	@include utils-extend('focus', 'disabled');
	@include utils-extend('wire', 'not-interactive');
	@include utils-vendor-prefix(user-select, auto);
	cursor: default;
	cursor: initial;
}
// #icon
%egrn-button--icon {
	padding-left: .75rem;
	padding-right: .75rem;
	@include utils-child('button-icon', 'big');
}
%egrn-button--tight {
	height: 3.3rem;
}
%egrn-button--dense {
	@include utils-extend('button', 'tight');
	padding-left: .9rem;
	padding-right: .9rem;
}
%egrn-button--small {
	@include utils-extend('button', 'tight');
	padding-left: .76rem;
	padding-right: .76rem;
	@include utils-child('button-icon', 'small');
}
%egrn-button--mini {
	padding-left: .5rem;
	padding-right: .5rem;
	height: 2.6rem;
	@include utils-child('button-icon', 'mini');
}
%egrn-button--block {
	@include utils-extend('row', 'block');
	width: 100%;
}
%egrn-button--bigger-text {
	font-size: 1.5rem;
}
// #alt-font
%egrn-button--alt-font {
	font-family: $egrn-text-font-family-alt;
	font-size: 2.4rem;
	font-weight: 700;
}
%egrn-button--compensate-padding {
	margin-left: -1.7rem;
	margin-right: -1.7rem;
}
%egrn-button--compensate-padding--dense {
	margin-left: -.9rem;
	margin-right: -.9rem;
}
%egrn-button--compensate-padding--small {
	margin-left: -.76rem;
	margin-right: -.76rem;
}
%egrn-button--compensate-padding--icon {
	margin-left: -.75rem;
	margin-right: -.75rem;
}
%egrn-button--compensate-padding--mini {
	margin-left: -.5rem;
	margin-right: -.5rem;
}
%egrn-button--no-substrate {
	background: transparent;
	border-color: transparent;

	&:hover, &:active, &:focus {
		background: transparent;
		border-color: transparent;
	}
}
%egrn-button--muted {
	@include utils-extend('icon', 'color-muted');
	color: #969aa2;
}
%egrn-button--muted-icon {
	@include utils-extend('icon', 'color-muted');
}
%egrn-button--submit {
	@include utils-extend('button', 'gradient' 'alt-font');
	padding-left: 3rem;
	padding-right: 3rem;
}
%egrn-button--special {
	@include utils-extend('button', 'tight' 'bigger-text' 'muted-icon');
}
%egrn-button--special-2 {
	@include utils-extend('button', 'special' 'dense');
}
// #green
%egrn-button--green {
	color: #fff;
	fill: #fff;
	background-color: #7cb83a;
	border: 0;

	&:hover, &:active, &:focus {
		background-color: #73a63b;
	}

	&:disabled {
		&:hover, &:active, &:focus {
			background-color: #7cb83a;
		}
	}
}
%egrn-button--gradient {
	@include utils-extend('button', 'green');
	// #CBFIX У iOS 8-11 наличие в linear-gradient слова transparent странным образом изменяет градиент так, что он становится не приемлемым (не исследовалось). Решение приведено ниже.
	// background-image: linear-gradient(to left, #9bbf2c, transparent);
	background-image: linear-gradient(to right, rgba(124,184,58,0) 0%, rgba(155,191,44,1) 100%);
}
// #transparent
%egrn-button--transparent {
	border: 0;
	background: transparent;
}
// #link
%egrn-button--link {
	@include utils-extend('button', 'transparent');
	@include utils-extend('link', 'base'); // #KOSTYL По какой-то причине focus внутри link убивает фокус на этом элементе (button). Поэтому пришлось разделить link на base и interactivity...
}

// /*
//  ██████  ██    ██ ████████ ████████  ██████  ███    ██
//  ██   ██ ██    ██    ██       ██    ██    ██ ████   ██
//  ██████  ██    ██    ██       ██    ██    ██ ██ ██  ██
//  ██   ██ ██    ██    ██       ██    ██    ██ ██  ██ ██
//  ██████   ██████     ██       ██     ██████  ██   ████
// 
//  ██  ██████  ██████  ███    ██
//  ██ ██      ██    ██ ████   ██
//  ██ ██      ██    ██ ██ ██  ██
//  ██ ██      ██    ██ ██  ██ ██
//  ██  ██████  ██████  ██   ████
// */
// #button #icon
.egrn-button-icon {
	@extend %egrn-button-icon;

	&#{&}--big {
		@extend %egrn-button-icon--big;
	}
	&#{&}--small {
		@extend %egrn-button-icon--small;
	}
	&#{&}--mini {
		@extend %egrn-button-icon--mini;
	}
	&#{&}--less-margin {
		@extend %egrn-button-icon--less-margin;
	}
	@include egrn-icon--mods('button-icon');
}

%egrn-button-icon {
	@include utils-extend('row-item', 'default' 'no-shrink');
	@include utils-extend('icon', 'default' 'color-inherit');
	@include utils-extend('edge', 'default' 'margin-row');

	margin-left: .7rem;
	margin-right: .7rem;
}
%egrn-button-icon--big {
	@include utils-extend('icon', 'size-big');
}
%egrn-button-icon--small {
	@include utils-extend('icon', 'size-small');
}
%egrn-button-icon--mini {
	@include utils-extend('icon', 'size-mini');
}
%egrn-button-icon--less-margin {
	margin-left: .6rem;
	margin-right: .6rem;
}

// /*
//  ██████  ██    ██ ████████ ████████  ██████  ███    ██
//  ██   ██ ██    ██    ██       ██    ██    ██ ████   ██
//  ██████  ██    ██    ██       ██    ██    ██ ██ ██  ██
//  ██   ██ ██    ██    ██       ██    ██    ██ ██  ██ ██
//  ██████   ██████     ██       ██     ██████  ██   ████
// 
//  ████████ ███████ ██   ██ ████████
//     ██    ██       ██ ██     ██
//     ██    █████     ███      ██
//     ██    ██       ██ ██     ██
//     ██    ███████ ██   ██    ██
// */
// #button #text
.egrn-button-text {
	@include utils-extend('row-item');

	&#{&}--ellipsis {
		@include utils-extend('button-text', 'ellipsis');
	}
}

%egrn-button-text--ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
}

// /*
//  ██████  ██    ██ ████████ ████████  ██████  ███    ██
//  ██   ██ ██    ██    ██       ██    ██    ██ ████   ██
//  ██████  ██    ██    ██       ██    ██    ██ ██ ██  ██
//  ██   ██ ██    ██    ██       ██    ██    ██ ██  ██ ██
//  ██████   ██████     ██       ██     ██████  ██   ████
// 
//  ████████ ███████ ██   ██ ████████
//     ██    ██       ██ ██     ██
//     ██    █████     ███      ██
//     ██    ██       ██ ██     ██
//     ██    ███████ ██   ██    ██
// 
//  ██  ██████  ██████  ███    ██
//  ██ ██      ██    ██ ████   ██
//  ██ ██      ██    ██ ██ ██  ██
//  ██ ██      ██    ██ ██  ██ ██
//  ██  ██████  ██████  ██   ████
// */
// #button #text #icon
.egrn-button-text-icon {
	@include utils-extend('button-icon', 'default' 'mini');
	@include utils-extend('icon', 'middle' 'scale-80');

	margin-left: .5rem;
	margin-right: .5rem;

	@include egrn-icon--mods('button-text-icon');

	&#{&}--no-margin {
		margin-left: 0;
		margin-right: 0;
	}
	&#{&}--no-right-margin {
		margin-right: 0;
	}
	&#{&}--no-left-margin {
		margin-left: 0;
	}
}