// /*
//   ██████ ██      ██ ██████
//  ██      ██      ██ ██   ██
//  ██      ██      ██ ██████
//  ██      ██      ██ ██
//   ██████ ███████ ██ ██
// */
// #clip
@mixin egrn-clip($name: 'clip') {
	$class-name: utils-class-name($name);
	
	.#{$class-name} {
		transition-property: height;
		transition-timing-function: $egrn-easing;
		@include utils-vendor-prefix(transform, translate3d(0, 0, 0));
	}
	[data-#{$class-name}-id].#{$class-name}.#{$class-name}--collapsed,
	[data-#{$class-name}-id].#{$class-name}.#{$class-name}--collapsing {
		height: 0;
		overflow: hidden;
	}
	.#{$class-name}.#{$class-name}--expanding {
		overflow: hidden;
	}
	.#{$class-name}-content {
		transition-property: opacity;
		transition-timing-function: $egrn-easing;
		@include utils-vendor-prefix(transform, translate3d(0, 0, 0));
	}
	.#{$class-name}.#{$class-name}--collapsed > .#{$class-name}-content {
		visibility: hidden;
		opacity: 0;
	}
	.#{$class-name}.#{$class-name}--collapsing > .#{$class-name}-content {
		opacity: 0;
	}
}

@include egrn-clip();

// .egrn-clip {
// 	transition-property: height;
// 	transition-timing-function: $egrn-easing;
// 	@include utils-vendor-prefix(transform, translate3d(0, 0, 0));
// }
// [data-egrn-clip-id].egrn-clip.egrn-clip--collapsed,
// [data-egrn-clip-id].egrn-clip.egrn-clip--collapsing {
// 	height: 0;
// 	overflow: hidden;
// }
// .egrn-clip.egrn-clip--expanding {
// 	overflow: hidden;
// }
// .egrn-clip-content {
// 	transition-property: opacity;
// 	transition-timing-function: $egrn-easing;
// 	@include utils-vendor-prefix(transform, translate3d(0, 0, 0));
// }
// .egrn-clip.egrn-clip--collapsed > .egrn-clip-content {
// 	visibility: hidden;
// 	opacity: 0;
// }
// .egrn-clip.egrn-clip--collapsing > .egrn-clip-content {
// 	opacity: 0;
// }