// /*
//   ██████  ██████  ██      ██       █████  ██████  ███████
//  ██      ██    ██ ██      ██      ██   ██ ██   ██ ██
//  ██      ██    ██ ██      ██      ███████ ██████  ███████
//  ██      ██    ██ ██      ██      ██   ██ ██           ██
//   ██████  ██████  ███████ ███████ ██   ██ ██      ███████
// 
//  ██ ██████  ██      ███████
//  ██ ██   ██ ██      ██
//  ██ ██████  ██      █████  
//  ██ ██   ██ ██      ██
//  ██ ██████  ███████ ███████
// 
// */
// #collapsible
.egrn-collapsible {
	&#{&}--optimize-animation {} // индикационный модификатор
}

// /*
//   ██████ ██      ██ ██████
//  ██      ██      ██ ██   ██
//  ██      ██      ██ ██████
//  ██      ██      ██ ██
//   ██████ ███████ ██ ██
// */
// #clip
.egrn-collapsible-clip {}
// @include egrn-clip('collapsible-clip');

// /*
//   ██████ ██      ██ ██████
//  ██      ██      ██ ██   ██
//  ██      ██      ██ ██████
//  ██      ██      ██ ██
//   ██████ ███████ ██ ██
//
//   ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████
//  ██      ██    ██ ████   ██    ██    ██      ████   ██    ██
//  ██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██
//  ██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██
//   ██████  ██████  ██   ████    ██    ███████ ██   ████    ██
// */
// #clip #content
.egrn-collapsible-clip-content {
	@extend %egrn-contain-margins;

	@include utils-media('mobile') {
		padding: 0 1.5rem;
	}
	@include utils-media('desktop') {
		padding: 0 .8rem;
	}
}

// /*
//  ████████ ██████  ██  ██████   ██████  ███████ ██████
//     ██    ██   ██ ██ ██       ██       ██      ██   ██
//     ██    ██████  ██ ██   ███ ██   ███ █████   ██████
//     ██    ██   ██ ██ ██    ██ ██    ██ ██      ██   ██
//     ██    ██   ██ ██  ██████   ██████  ███████ ██   ██
// */
// #collapsible #area #trigger
@mixin egrn-collapsible_trigger--mods($class: 'collapsible_trigger') {
	$class-name: utils-class-name($class);
	
	&.#{$class-name}--dark {
		@extend %egrn-plate--dark;

		@include utils-child('collapsible_trigger-extra', 'on-dark');
		@include utils-child('collapsible_trigger-indicator-icon', 'on-dark');
	}
	&.#{$class-name}--alt-font {
		@include utils-child('collapsible_trigger-title', 'alt-font');
	}
	&.#{$class-name}--multi-line {
		@extend %egrn-plate--multi-line;

		@include utils-child('collapsible_trigger-extra', 'multi-line');
	}
	&.#{$class-name}--inactive {
		cursor: default;

		&:focus {
			outline-width: 0;
		}

		@include utils-child('collapsible_trigger-indicator', 'inactive');
	}
	&.#{$class-name}--inline {
		@extend %egrn-plate--inline;
	}
	&.#{$class-name}--collapsed {
		@include utils-child('collapsible_trigger-indicator-icon', 'no-turn');
	}
	&.#{$class-name}--expanded {
		@include utils-child('collapsible_trigger-indicator-icon', 'half-turn');
	}
}

.egrn-collapsible_trigger {
	@include utils-extend('collapsible_trigger');
	@include egrn-collapsible_trigger--mods();
}

@include utils-class-apply('collapsible_trigger', 'button') {
	@include utils-extend('normalize', 'button');
	@include utils-extend('collapsible_trigger');
	@include egrn-collapsible_trigger--mods();
}

%egrn-collapsible_trigger {
	@include utils-extend('plate');
	@include utils-extend('button', 'interactivity');

	overflow: visible; // ?
	white-space: normal; // ?
	text-overflow: clip; // ?

	@include utils-media('mobile') {
		border-radius: 0;

		.egrn-collapsible_trigger {
			@include utils-extend('plate', 'border-radius', 'mobile');
		}
	}
}

.egrn-collapsible_trigger-aligner {
	@extend %egrn-row;
}

.egrn-collapsible_trigger-title {
	padding-right: .7rem;
	// flex: 1 0 auto;
	flex: 0 0 auto;
	white-space: nowrap;
}
	%egrn-collapsible_trigger-title--alt-font {
		font-family: $egrn-text-font-family-alt;
		font-size: 2rem;
		font-weight: 700;
	}
	%egrn-collapsible_trigger-title--multi-line {
		white-space: normal;
	}

.egrn-collapsible_trigger-extra {
	padding-right: .7rem;
	// flex: 1 1 100%;
	flex: 1 0 auto;
	color: lighten(#5e6066, 25%);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 0; // #NOTE: Интересное поведение, если указать width: 0 - вся конструкция не будет растягивать контейнер на ширину этого элемента, хотя он будет показан, то есть не будет всегда иметь ширину 0. То есть как будто у элемента нет ширины, но он ведет себя в соответствии с параметрами flex.
}
	%egrn-collapsible_trigger-extra--on-dark {
		color: #d1d5e1;
	}
	%egrn-collapsible_trigger-extra--multi-line {
		overflow: visible;
		white-space: normal;
	}

.egrn-collapsible_trigger-indicator {
	flex: 0 0 auto;
}
	%egrn-collapsible_trigger-indicator--inactive {
		visibility: hidden;
	}

.egrn-collapsible_trigger-indicator-icon {
	@extend %egrn-icon;
	@include utils-extend('collapsible_trigger-indicator-icon', 'half-turn');

	width: 1.2rem;
	height: 1.2rem;
	fill: $egrn-text-color;
}
	%egrn-collapsible_trigger-indicator-icon--on-dark {
		fill: #fff;
	}
	%egrn-collapsible_trigger-indicator-icon--no-turn {
		@include utils-vendor-prefix(transform, scale(1.25) rotate(0));
		@include utils-vendor-prefix(transition, transform .3s linear);
	}
	%egrn-collapsible_trigger-indicator-icon--half-turn {
		@include utils-vendor-prefix(transform, scale(1.25) rotate(.5turn));
		@include utils-vendor-prefix(transition, transform .3s linear);
	}