// /*
//   ██████  ██████  ███    ██ ████████  █████  ██ ███    ██
//  ██      ██    ██ ████   ██    ██    ██   ██ ██ ████   ██
//  ██      ██    ██ ██ ██  ██    ██    ███████ ██ ██ ██  ██
//  ██      ██    ██ ██  ██ ██    ██    ██   ██ ██ ██  ██ ██
//   ██████  ██████  ██   ████    ██    ██   ██ ██ ██   ████
// 
//  ███    ███  █████  ██████   ██████  ██ ███    ██ ███████
//  ████  ████ ██   ██ ██   ██ ██       ██ ████   ██ ██
//  ██ ████ ██ ███████ ██████  ██   ███ ██ ██ ██  ██ ███████
//  ██  ██  ██ ██   ██ ██   ██ ██    ██ ██ ██  ██ ██      ██
//  ██      ██ ██   ██ ██   ██  ██████  ██ ██   ████ ███████
// */
// #contain #margins
@include utils-placeholder('contain-margins') {
	&::before,
	&::after {
		content: '';
		display: table;
	}
}