// #NOTE Этот дизайн не надо скейлить, потому что он сделан в масштабе 1:1! Указывать значения надо напрямую из исходника.
// $egrn-design-scale: .8; // 80%
// $egrn-design-scale: .88257;
// $egrn-design-scale: 466 / 528;
// ??? Вычислено опытным путем, делением нужной величины из дизайна на ту, что получилась в браузере при наложении дизайна. Там еще 57 в периоде 0.88257(57)...
// 
// @function egrn-design-value($value) {
// 	@return $value / $egrn-design-scale;
// }
// @function egrn-design-to-rem($value) {
// 	@return egrn-design-value($value) / 10 + rem;
// }
// 
// @debug egrn-design-to-rem(31);

// /*
//  ███    ███ ███████ ██████  ██  █████
//  ████  ████ ██      ██   ██ ██ ██   ██
//  ██ ████ ██ █████   ██   ██ ██ ███████
//  ██  ██  ██ ██      ██   ██ ██ ██   ██
//  ██      ██ ███████ ██████  ██ ██   ██
// */
// #media
$egrn-design-media: 'mobile' 'desktop';
$egrn-design-media-breakpoint: (
	'mobile-desktop': 640
);

// /*
//  ███████  ██████  ███    ██ ████████
//  ██      ██    ██ ████   ██    ██
//  █████   ██    ██ ██ ██  ██    ██
//  ██      ██    ██ ██  ██ ██    ██
//  ██       ██████  ██   ████    ██
// */
// #color
$egrn-design-font-main: ptsans-forced;
$egrn-design-font-alt: bebasneue-forced;
$egrn-design-font-size-base: 14;

// /*
//   ██████  ██████  ██       ██████  ██████
//  ██      ██    ██ ██      ██    ██ ██   ██
//  ██      ██    ██ ██      ██    ██ ██████
//  ██      ██    ██ ██      ██    ██ ██   ██
//   ██████  ██████  ███████  ██████  ██   ██
// */
// #color
$egrn-design-color-lightgrey: #d8d8d8;
$egrn-design-color-lightgrey-2: #e4e6e8;
$egrn-design-color-lightgrey-3: #f2f4f7;
$egrn-design-color-lightgrey-4: #f8f9fb;
$egrn-design-color-dark: #454c56;
$egrn-design-color-green: #7a9c57;
$egrn-design-color-orange: #ff763e; // Из psd "Образец стилей"
$egrn-design-color-background: #dde1e5;
$egrn-design-color-link: #30789e;
$egrn-design-color-text: #54565b;
$egrn-design-color-text-muted: #9398a7;
$egrn-design-color-text-highlighted: #ffdc67;

// /*
//  ██████   ██████  ██████  ██████  ███████ ██████
//  ██   ██ ██    ██ ██   ██ ██   ██ ██      ██   ██
//  ██████  ██    ██ ██████  ██   ██ █████   ██████
//  ██   ██ ██    ██ ██   ██ ██   ██ ██      ██   ██
//  ██████   ██████  ██   ██ ██████  ███████ ██   ██
// 
//  ██████   █████  ██████  ██ ██    ██ ███████
//  ██   ██ ██   ██ ██   ██ ██ ██    ██ ██
//  ██████  ███████ ██   ██ ██ ██    ██ ███████
//  ██   ██ ██   ██ ██   ██ ██ ██    ██      ██
//  ██   ██ ██   ██ ██████  ██  ██████  ███████
// */
// #border #radius
$egrn-design-border-radius: (
	big: 17,
	box: 2,
);

// /*
//  ██       █████  ██    ██  ██████  ██    ██ ████████
//  ██      ██   ██  ██  ██  ██    ██ ██    ██    ██
//  ██      ███████   ████   ██    ██ ██    ██    ██
//  ██      ██   ██    ██    ██    ██ ██    ██    ██
//  ███████ ██   ██    ██     ██████   ██████     ██
// */
// #layout
// $egrn-design-layout-min-width: 1340;
$egrn-design-layout-min-width: 1260;
$egrn-design-layout-edge-gap: 30;
$egrn-design-layout-edge-gap-mobile: 10;
$egrn-design-layout-topbar-height: 43;
$egrn-design-layout-topbar-height-mobile: 42;