// /*
//  ██████  ██████   ██████  ██████  ██████   ██████  ██     ██ ███    ██
//  ██   ██ ██   ██ ██    ██ ██   ██ ██   ██ ██    ██ ██     ██ ████   ██
//  ██   ██ ██████  ██    ██ ██████  ██   ██ ██    ██ ██  █  ██ ██ ██  ██
//  ██   ██ ██   ██ ██    ██ ██      ██   ██ ██    ██ ██ ███ ██ ██  ██ ██
//  ██████  ██   ██  ██████  ██      ██████   ██████   ███ ███  ██   ████
// 
//  ███████ ███████ ██      ███████  ██████ ████████
//  ██      ██      ██      ██      ██         ██
//  ███████ █████   ██      █████   ██         ██
//       ██ ██      ██      ██      ██         ██
//  ███████ ███████ ███████ ███████  ██████    ██
// */
// #dropdown_select
.egrn-dropdown_select {
	// position: relative;
}
.egrn-dropdown_select-control {}
.egrn-dropdown_select-select {
	@extend %egrn-combined_text_input;

	cursor: default;

	&:hover, &:active, &:focus,
	&.egrn--hover, &.egrn--active, &.egrn--focus {
		@include utils-child('dropdown_select-select-indicator-icon', 'dark');
	}
}
.egrn-dropdown_select-select-aligner {
	@extend .egrn-combined_text_input-aligner;
}
.egrn-dropdown_select-select-aligner-choice {}

.egrn-dropdown_select-select-aligner-indicator {
	@extend .egrn-combined_text_input-aligner-suffix;

	margin-left: -.5rem;
}

.egrn-dropdown_select-select-choice {
	@include utils-extend('text_input', 'normal');

	&#{&}--placeholder {
		@include utils-extend('placeholder-style');
	}
}

.egrn-dropdown_select-select-indicator-icon {
	@extend %egrn-icon;
	
	width: .9rem;
	height: .9rem;
	fill: #9398a7;
}
	%egrn-dropdown_select-select-indicator-icon--dark {
		fill: $egrn-text-color;
	}

.egrn-dropdown_select-options {
	@include utils-extend('collapsible');
	@include egrn-collapsible--mods('egrn-dropdown_select-options');

	position: absolute;
	margin-left: -.5rem;
}

.egrn-dropdown_select-options-content {
	@extend %egrn-contain-margins;
	@include egrn-collapsible-content--mods('egrn-dropdown_select-options-content');

	padding: .5rem;
	padding-top: 0;
}
.egrn-dropdown_select-options-menu {
	@include utils-extend('menu', 'default' 'popover');

	margin-top: .5rem;
}
.egrn-dropdown_select-options-menu-item {
	@extend .egrn-menu-item;
}
.egrn-dropdown_select-options-menu-item-prefix {
	@extend .egrn-menu-item-prefix;
}
.egrn-dropdown_select-options-menu-item-prefix-icon {
	@extend .egrn-menu-item-prefix-icon;
}
// .egrn-dropdown_select-option-name {}