// /*
//  ███████  █████  ███    ██  ██████ ██    ██
//  ██      ██   ██ ████   ██ ██       ██  ██
//  █████   ███████ ██ ██  ██ ██        ████
//  ██      ██   ██ ██  ██ ██ ██         ██
//  ██      ██   ██ ██   ████  ██████    ██
// 
//   ██████  ██████  ██████  ███    ██ ███████ ██████  ███████
//  ██      ██    ██ ██   ██ ████   ██ ██      ██   ██ ██
//  ██      ██    ██ ██████  ██ ██  ██ █████   ██████  ███████
//  ██      ██    ██ ██   ██ ██  ██ ██ ██      ██   ██      ██
//   ██████  ██████  ██   ██ ██   ████ ███████ ██   ██ ███████
// */
// #fancy #corners
$egrn-fancy-corners-border-radius: utils-rem(map-get($egrn-design-border-radius, big));
@include utils-placeholder('fancy-corners') {
	// border-radius: $egrn-fancy-corners-border-radius;
	// border-top-left-radius: 0;
	// border-bottom-right-radius: 0;
	border-top-right-radius: $egrn-fancy-corners-border-radius;
	border-bottom-left-radius: $egrn-fancy-corners-border-radius;
}