// /*
//  ███████ ██ ██   ██ ███████ ███████
//  ██      ██  ██ ██  ██      ██
//  █████   ██   ███   █████   ███████
//  ██      ██  ██ ██  ██           ██
//  ██      ██ ██   ██ ███████ ███████
// */

// /*
//  ██     ██ ███████ ██       ██████  ██████  ███    ███ ███████
//  ██     ██ ██      ██      ██      ██    ██ ████  ████ ██
//  ██  █  ██ █████   ██      ██      ██    ██ ██ ████ ██ █████
//  ██ ███ ██ ██      ██      ██      ██    ██ ██  ██  ██ ██
//   ███ ███  ███████ ███████  ██████  ██████  ██      ██ ███████
// */
// #welcome
@keyframes egrn-slidein-top {
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes egrn-slideout-top {
	to {
		transform: translateY(-3rem);
		opacity: 0;
	}
}
@keyframes egrn-welcome-arrow-shaft {
	from { opacity: 1 }
	to {
		opacity: 1;
		stroke-dasharray: 130 200;
	}
}
@keyframes egrn-welcome-arrow-head {
	from { opacity: 1 }
	to {
		opacity: 1;
		stroke-dasharray: 35 200;
	}
}
.egrn-welcome {
	position: absolute;
	top: 13rem;
	left: 21rem;
	z-index: 2;
	cursor: default;
}
.egrn-welcome-heading {
	opacity: 0;
	transform: translateY(-4rem);
	animation: .8s egrn-slidein-top forwards 1s;
	margin-bottom: 2rem;
	margin-top: 0;
}
.egrn-welcome-tip {
	opacity: 0;
	transform: translateY(-4rem);
	font-size: 1.9rem;
	font-weight: 700;
	animation: .8s egrn-slidein-top forwards 1.4s;
}
.egrn-welcome-arrow {
	position: absolute;
	top: -1.6rem;
	left: -10rem;
	width: 9rem;
	height: 9rem;
	stroke: #616161;
	stroke-width: 2.8;
	stroke-linecap: round;
	stroke-linejoin: round;
}
#egrn-welcome-arrow-shaft {
	opacity: 0;
	animation: .8s egrn-welcome-arrow-shaft forwards 1.9s;
	stroke-dasharray: 0 200;
}
#egrn-welcome-arrow-head {
	opacity: 0;
	animation: .5s egrn-welcome-arrow-head forwards 2.5s;
	stroke-dasharray: 0 200;
}

// /*
//  ███████ ██    ██  ██████   ██████  ███████ ███████ ████████ ██  ██████  ███    ██ ███████
//  ██      ██    ██ ██       ██       ██      ██         ██    ██ ██    ██ ████   ██ ██
//  ███████ ██    ██ ██   ███ ██   ███ █████   ███████    ██    ██ ██    ██ ██ ██  ██ ███████
//       ██ ██    ██ ██    ██ ██    ██ ██           ██    ██    ██ ██    ██ ██  ██ ██      ██
//  ███████  ██████   ██████   ██████  ███████ ███████    ██    ██  ██████  ██   ████ ███████
// */
// #suggestions
// .suggestions-wrapper > .suggestions-suggestions > .suggestions-hint
// .suggestions-wrapper > .suggestions-suggestions > .suggestions-suggestion > .suggestions-value > .suggestions-no-wrap
.suggestions-wrapper {}
.suggestions-suggestions {
	@include utils-extend('box', 'default' 'shadow-wide');
	border: 0 !important;
	padding: 1.2rem 0;
}
.suggestions-hint {
	padding: .4rem 2.5rem !important;
}
.suggestions-suggestion {
	padding: .4rem 2.5rem !important;
}
.suggestions-value {}
.suggestions-no-wrap {}
//.suggestions-no-wrap > strong {} // это выделение подошедшего фрагмента

// /*
//  ██████  ██████  ██    ██ ██████   █████  ██
//  ██   ██ ██   ██ ██    ██ ██   ██ ██   ██ ██
//  ██   ██ ██████  ██    ██ ██████  ███████ ██
//  ██   ██ ██   ██ ██    ██ ██      ██   ██ ██
//  ██████  ██   ██  ██████  ██      ██   ██ ███████
// 
//   █████  ██████  ███    ███ ██ ███    ██
//  ██   ██ ██   ██ ████  ████ ██ ████   ██
//  ███████ ██   ██ ██ ████ ██ ██ ██ ██  ██
//  ██   ██ ██   ██ ██  ██  ██ ██ ██  ██ ██
//  ██   ██ ██████  ██      ██ ██ ██   ████
// 
//  ███    ███ ███████ ███    ██ ██    ██
//  ████  ████ ██      ████   ██ ██    ██
//  ██ ████ ██ █████   ██ ██  ██ ██    ██
//  ██  ██  ██ ██      ██  ██ ██ ██    ██
//  ██      ██ ███████ ██   ████  ██████
// */
// #drupal #admin #menu
html body.admin-menu,
body.admin-menu {
	// @include utils-media('mobile') {
		margin-top: 0 !important;
	// }
}
#admin-menu {
	right: auto;
	left: -10.2rem;

	font-family: sans-serif !important;

	// @include utils-media('mobile') {
	// 	left: -10rem;
	// }

	&:hover {
		left: 0;
	}

	// @include utils-media('mobile') {
	// 	display: none !important;
	// }
}
#admin-menu-wrapper {
	padding: .5rem;
}
#admin-menu .dropdown li {
	float: none;
}
#admin-menu .dropdown li ul {
	left: 10.5rem !important;
	margin-top: -2.2rem !important;
}
#admin-menu .dropdown li li.expandable ul {
	left: auto !important;
}

// /*
//  ██████  ██  ██████  ██   ██ ████████
//  ██   ██ ██ ██       ██   ██    ██
//  ██████  ██ ██   ███ ███████    ██
//  ██   ██ ██ ██    ██ ██   ██    ██
//  ██   ██ ██  ██████  ██   ██    ██
// 
//  ██████  ██       ██████   ██████ ██   ██
//  ██   ██ ██      ██    ██ ██      ██  ██
//  ██████  ██      ██    ██ ██      █████
//  ██   ██ ██      ██    ██ ██      ██  ██
//  ██████  ███████  ██████   ██████ ██   ██
// */
.map-wrapper #right_block,
#right_block {
	@include utils-media('mobile') {
		display: none;
	}
}

// /*
//  ██████   █████  ███    ██ ███████ ██
//  ██   ██ ██   ██ ████   ██ ██      ██
//  ██████  ███████ ██ ██  ██ █████   ██
//  ██      ██   ██ ██  ██ ██ ██      ██
//  ██      ██   ██ ██   ████ ███████ ███████
// 
//  ██████  ██    ██ ████████ ████████  ██████  ███    ██
//  ██   ██ ██    ██    ██       ██    ██    ██ ████   ██
//  ██████  ██    ██    ██       ██    ██    ██ ██ ██  ██
//  ██   ██ ██    ██    ██       ██    ██    ██ ██  ██ ██
//  ██████   ██████     ██       ██     ██████  ██   ████
// */
.panel_button.size_block,
.panel_button.print_block,
.panel_button.help_block,
.panel_button.phone_block,
.panel_button.panorama_block,
.panel_button.geo_block,
.panel_button.share_block,
.full_screen_button
{
	@include utils-media('mobile') {
		display: none;
	}
}

// /*
//  ██████   █████  ███    ██ ███████ ██
//  ██   ██ ██   ██ ████   ██ ██      ██
//  ██████  ███████ ██ ██  ██ █████   ██
//  ██      ██   ██ ██  ██ ██ ██      ██
//  ██      ██   ██ ██   ████ ███████ ███████
// 
//  ██████  ██       ██████   ██████ ██   ██
//  ██   ██ ██      ██    ██ ██      ██  ██
//  ██████  ██      ██    ██ ██      █████
//  ██   ██ ██      ██    ██ ██      ██  ██
//  ██████  ███████  ██████   ██████ ██   ██
// */
.map-wrapper .panel_block.search-block {
	@include utils-media('mobile') {
		width: auto;
	}

	#address {
		@include utils-media('mobile') {
			width: 20rem;
		}
	}
}