// /*
//  ███████  ██████   ██████ ██    ██ ███████
//  ██      ██    ██ ██      ██    ██ ██
//  █████   ██    ██ ██      ██    ██ ███████
//  ██      ██    ██ ██      ██    ██      ██
//  ██       ██████   ██████  ██████  ███████
// */
// #focus
@mixin egrn-focus($mods: default) {
	@each $mod in $mods {
		@if $mod == 'on' {
			// outline: thin dotted grey;
			// outline-offset: .1rem;
			box-shadow: 0 0 0 .3rem rgba(0, 0, 0, .07);
		}
		@if $mod == 'off' {
			// outline-width: 0;
			// box-shadow: none;
			box-shadow: 0 0 0 0 rgba(0, 0, 0, .07);
		}
	}
}
@include utils-placeholder('focus') {
	transition: box-shadow .15s linear;

	&:hover, &:active, &:focus {
		outline-width: 0; // chrome
	}
	&:focus {
		@include egrn-focus('on');
	}
	&:hover {
		@include utils-media('desktop') {
			@include egrn-focus('off');
		}
	}
}
@include utils-placeholder-extend('focus', 'default', 'focus', 'off');
@include utils-placeholder('focus', 'on') {
	@include egrn-focus('on');
}
@include utils-placeholder('focus', 'off') {
	@include egrn-focus('off');
}
@include utils-placeholder('focus', 'disabled') {
	transition: none;
	box-shadow: none;

	&:focus {
		box-shadow: none;
	}
}