// $egrn-fonts-dir: 'fonts-201220182019';
$egrn-fonts-dir: 'fonts-201220182038';
// $egrn-fonts-dir: 'fonts-201220182110';

@font-face {
	font-family: $egrn-text-font-main;
	src: url('../#{$egrn-fonts-dir}/pt_sans-web-regular-webfont.woff2') format('woff2'),
		 url('../#{$egrn-fonts-dir}/pt_sans-web-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
// @font-face {
// 	font-family: $egrn-text-font-main;
// 	src: url('../#{$egrn-fonts-dir}/pt_sans-web-italic-webfont.woff2') format('woff2'),
// 		 url('../#{$egrn-fonts-dir}/pt_sans-web-italic-webfont.woff') format('woff');
// 	font-weight: 400;
// 	font-style: italic;
// }
@font-face {
	font-family: $egrn-text-font-main;
	src: url('../#{$egrn-fonts-dir}/pt_sans-web-bold-webfont.woff2') format('woff2'),
		 url('../#{$egrn-fonts-dir}/pt_sans-web-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
// @font-face {
// 	font-family: $egrn-text-font-main;
// 	src: url('../#{$egrn-fonts-dir}/pt_sans-web-bolditalic-webfont.woff2') format('woff2'),
// 		 url('../#{$egrn-fonts-dir}/pt_sans-web-bolditalic-webfont.woff') format('woff');
// 	font-weight: 700;
// 	font-style: italic;
// }
// @font-face {
// 	font-family: $egrn-text-font-alt;
// 	src: url('../#{$egrn-fonts-dir}/bebasneue_regular-webfont.woff2') format('woff2'),
// 		 url('../#{$egrn-fonts-dir}/bebasneue_regular-webfont.woff') format('woff');
// 	font-weight: 400;
// 	font-style: normal;
// }
@font-face {
	font-family: $egrn-text-font-alt;
	src: url('../#{$egrn-fonts-dir}/bebasneue_bold-webfont.woff2') format('woff2'),
		 url('../#{$egrn-fonts-dir}/bebasneue_bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}