// /*
//   ██████   █████  ██████
//  ██       ██   ██ ██   ██
//  ██   ███ ███████ ██████
//  ██    ██ ██   ██ ██
//   ██████  ██   ██ ██
// */
// #gap
$egrn-gap-sizes: 5 10 12 15 20 23 25 30 48 50;

@each $size in $egrn-gap-sizes {
	$size-rem: utils-rem($size);

	// margin
	@include utils-placeholder('gap', 'margin-left-#{$size}') {
		margin-left: $size-rem;
	}
	@include utils-placeholder('gap', 'margin-right-#{$size}') {
		margin-right: $size-rem;
	}
	@include utils-placeholder('gap', 'margin-top-#{$size}') {
		margin-top: $size-rem;
	}
	@include utils-placeholder('gap', 'margin-bottom-#{$size}') {
		margin-bottom: $size-rem;
	}
	@include utils-placeholder('gap', 'margin-row-#{$size}') {
		margin-left: $size-rem;
		margin-right: $size-rem;
	}
	@include utils-placeholder('gap', 'margin-column-#{$size}') {
		margin-top: $size-rem;
		margin-bottom: $size-rem;
	}
	@include utils-placeholder('gap', 'margin-#{$size}') {
		margin: $size-rem;
	}

	// padding
	@include utils-placeholder('gap', 'padding-left-#{$size}') {
		padding-left: $size-rem;
	}
	@include utils-placeholder('gap', 'padding-right-#{$size}') {
		padding-right: $size-rem;
	}
	@include utils-placeholder('gap', 'padding-top-#{$size}') {
		padding-top: $size-rem;
	}
	@include utils-placeholder('gap', 'padding-bottom-#{$size}') {
		padding-bottom: $size-rem;
	}
	@include utils-placeholder('gap', 'padding-row-#{$size}') {
		padding-left: $size-rem;
		padding-right: $size-rem;
	}
	@include utils-placeholder('gap', 'padding-column-#{$size}') {
		padding-top: $size-rem;
		padding-bottom: $size-rem;
	}
	@include utils-placeholder('gap', 'padding-#{$size}') {
		padding: $size-rem;
	}

	// combine
	@include utils-placeholder('gap', 'combine-#{$size}') {
		margin-top: $size-rem;
		margin-bottom: $size-rem;
		padding-left: $size-rem;
		padding-right: $size-rem;
	}
	@include utils-placeholder('gap', 'combine-alt-#{$size}') {
		margin-left: $size-rem;
		margin-right: $size-rem;
		padding-top: $size-rem;
		padding-bottom: $size-rem;
	}
}

// @each $size in $egrn-gap-sizes {
// 	$size-rem: utils-rem($size);

// 	// margin
// 	@include utils-placeholder('gap', 'margin-left-#{$size}') {
// 		margin: 0 0 0 $size-rem;
// 	}
// 	@include utils-placeholder('gap', 'margin-right-#{$size}') {
// 		margin: 0 $size-rem 0 0;
// 	}
// 	@include utils-placeholder('gap', 'margin-top-#{$size}') {
// 		margin: $size-rem 0 0 0;
// 	}
// 	@include utils-placeholder('gap', 'margin-bottom-#{$size}') {
// 		margin: 0 0 $size-rem 0;
// 	}
// 	@include utils-placeholder('gap', 'margin-row-#{$size}') {
// 		margin: 0 $size-rem;
// 	}
// 	@include utils-placeholder('gap', 'margin-column-#{$size}') {
// 		margin: $size-rem 0;
// 	}
// 	@include utils-placeholder('gap', 'margin-#{$size}') {
// 		margin: $size-rem;
// 	}

// 	// padding
// 	@include utils-placeholder('gap', 'padding-left-#{$size}') {
// 		padding: 0 0 0 $size-rem;
// 	}
// 	@include utils-placeholder('gap', 'padding-right-#{$size}') {
// 		padding: 0 $size-rem 0 0;
// 	}
// 	@include utils-placeholder('gap', 'padding-top-#{$size}') {
// 		padding: $size-rem 0 0 0;
// 	}
// 	@include utils-placeholder('gap', 'padding-bottom-#{$size}') {
// 		padding: 0 0 $size-rem 0;
// 	}
// 	@include utils-placeholder('gap', 'padding-row-#{$size}') {
// 		padding: 0 $size-rem;
// 	}
// 	@include utils-placeholder('gap', 'padding-column-#{$size}') {
// 		padding: $size-rem 0;
// 	}
// 	@include utils-placeholder('gap', 'padding-#{$size}') {
// 		padding: $size-rem;
// 	}

// 	// combine
// 	@include utils-placeholder('gap', 'combine-#{$size}') {
// 		margin: $size-rem 0;
// 		padding: 0 $size-rem;
// 	}
// 	@include utils-placeholder('gap', 'combine-alt-#{$size}') {
// 		margin: 0 $size-rem;
// 		padding: $size-rem 0;
// 	}
// }

// @mixin egrn-gap--mods($class, $sizes: $egrn-gap-sizes) {
@mixin egrn-gap--mods($class, $sizes: $egrn-gap-sizes, $default-size: null) {
	$class-name: utils-class-name($class);
	
	@if $default-size {
		&.#{$class-name}--gap-margin {
			@include utils-extend('gap', 'margin-#{$default-size}');
		}
		&.#{$class-name}--gap-margin-row {
			@include utils-extend('gap', 'margin-row-#{$default-size}');
		}
		&.#{$class-name}--gap-margin-column {
			@include utils-extend('gap', 'margin-column-#{$default-size}');
		}
		&.#{$class-name}--gap-padding {
			@include utils-extend('gap', 'padding-#{$default-size}');
		}
		&.#{$class-name}--gap-padding-row {
			@include utils-extend('gap', 'padding-row-#{$default-size}');
		}
		&.#{$class-name}--gap-padding-column {
			@include utils-extend('gap', 'padding-column-#{$default-size}');
		}
		&.#{$class-name}--gap-combine {
			@include utils-extend('gap', 'combine-#{$default-size}');
		}
		&.#{$class-name}--gap-combine-alt {
			@include utils-extend('gap', 'combine-alt-#{$default-size}');
		}
	}

	@each $size in $sizes {
		@if $size != $default-size {
			&.#{$class-name}--gap-margin-#{$size} {
				@include utils-extend('gap', 'margin-#{$size}');
			}
			&.#{$class-name}--gap-margin-row-#{$size} {
				@include utils-extend('gap', 'margin-row-#{$size}');
			}
			&.#{$class-name}--gap-margin-column-#{$size} {
				@include utils-extend('gap', 'margin-column-#{$size}');
			}
			&.#{$class-name}--gap-padding-#{$size} {
				@include utils-extend('gap', 'padding-#{$size}');
			}
			&.#{$class-name}--gap-padding-row-#{$size} {
				@include utils-extend('gap', 'padding-row-#{$size}');
			}
			&.#{$class-name}--gap-padding-column-#{$size} {
				@include utils-extend('gap', 'padding-column-#{$size}');
			}
			&.#{$class-name}--gap-combine-#{$size} {
				@include utils-extend('gap', 'combine-#{$size}');
			}
			&.#{$class-name}--gap-combine-alt-#{$size} {
				@include utils-extend('gap', 'combine-alt-#{$size}');
			}
		}
	}
}

// @mixin egrn-gap--mods($class, $sizes: $egrn-gap-sizes, $default-size: null) {
// 	$class-name: utils-class-name($class);
	
// 	@if $default-size {
// 		@include _egrn-gap--mods($class, $default-size);
// 	}

// 	@each $size in $sizes {
// 		&.#{$class-name}--gap-#{$size} {
// 			@include utils-extend('gap', 'margin-#{$size}');
// 			@include _egrn-gap--mods($class, $size);
// 		}
// 	}
// }
// @mixin _egrn-gap--mods($class, $size) {
// 	$class-name: utils-class-name($class);

// 	// margin считается модификатором по умолчанию
	
// 	&.#{$class-name}--gap-row {
// 		@include utils-extend('gap', 'margin-row-#{$size}');
// 	}
// 	&.#{$class-name}--gap-column {
// 		@include utils-extend('gap', 'margin-column-#{$size}');
// 	}
// 	&.#{$class-name}--gap-padding {
// 		@include utils-extend('gap', 'padding-#{$size}');

// 		&.#{$class-name}--gap-row {
// 			@include utils-extend('gap', 'padding-row-#{$size}');
// 		}
// 		&.#{$class-name}--gap-column {
// 			@include utils-extend('gap', 'padding-column-#{$size}');
// 		}
// 	}
// 	&.#{$class-name}--gap-combine {
// 		@include utils-extend('gap', 'combine-#{$size}');
// 	}
// 	&.#{$class-name}--gap-combine-alt {
// 		@include utils-extend('gap', 'combine-alt-#{$size}');
// 	}
// }