// /*
//  ██   ██ ███████  █████  ██████  ██ ███    ██  ██████
//  ██   ██ ██      ██   ██ ██   ██ ██ ████   ██ ██
//  ███████ █████   ███████ ██   ██ ██ ██ ██  ██ ██   ███
//  ██   ██ ██      ██   ██ ██   ██ ██ ██  ██ ██ ██    ██
//  ██   ██ ███████ ██   ██ ██████  ██ ██   ████  ██████
// */
// #heading
$egrn-heading-gap-sizes: 23 25;
$egrn-heading-default-gap-size: 25;

%egrn-heading {
	@include utils-extend('heading', 'base' 'margin' 'size-3');
}
%egrn-heading--base { // #NOTE base нужен для случаев, когда расшириться надо в обход дефолтных значений, например дефолт size-3, а надо size-2: дефолтное будет сильнее, т.к. size-3 находится ниже
	display: block;
	color: $egrn-text-color;
	font-family: $egrn-text-font-family-alt;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	line-height: normal;
}
%egrn-heading--size-3 {
	font-size: 2rem;
}
%egrn-heading--size-1 {
	font-size: 3.1rem;
}
%egrn-heading--size-2 {
	font-size: 2.4rem;
}
%egrn-heading--size-4 {
	font-size: 1.6rem;
}
%egrn-heading--alt-font {
	text-transform: none;
	font-family: $egrn-text-font-family-main;
}
%egrn-heading--inherit {
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: inherit;
}
%egrn-heading--inline {
	display: inline;
}
%egrn-heading--middle {
	text-align: middle;
}
%egrn-heading--muted {
	@include utils-extend('text', 'muted');
}
%egrn-heading--margin {
	@include utils-extend('gap', 'margin-column-#{$egrn-heading-default-gap-size}');
}
@each $size in $egrn-heading-gap-sizes {
	@if $size != $egrn-heading-default-gap-size {
		%egrn-heading--margin-#{$size} {
			@include utils-extend('gap', 'margin-column-#{$size}');
		}
	}
}
%egrn-heading--no-margin { // иначе в каждом классе, куда внедряются common-mods будет по отдельному --no-margin с одним и тем же содержимым
	margin: 0;
}

@mixin egrn-heading--common-mods($class-name: 'egrn-heading') {
	&.#{$class-name}--alt-font {
		@include utils-extend('heading', 'alt-font');
	}
	&.#{$class-name}--inherit {
		@include utils-extend('heading', 'inherit');
	}
	&.#{$class-name}--inline {
		@include utils-extend('heading', 'inline');
	}
	&.#{$class-name}--middle {
		@include utils-extend('heading', 'middle');
	}
	&.#{$class-name}--muted {
		@include utils-extend('heading', 'muted');
	}
	@each $size in $egrn-heading-gap-sizes {
		@if $size != $egrn-heading-default-gap-size {
			&.#{$class-name}--margin-#{$size} {
				@include utils-extend('heading', 'margin-#{$size}');
			}
		}
	}
	&.#{$class-name}--no-margin {
		@include utils-extend('heading', 'no-margin');
	}
	&.#{$class-name}--edge {
		@include utils-extend('paragraph', 'edge');
	}
}
@mixin egrn-heading--sizes-mods($class-name: 'egrn-heading') {
	&.#{$class-name}--#{'1'} { // почему-то если модификатор только цифра, линер сильно ругается
		@include utils-extend('heading', 'size-1');
	}
	&.#{$class-name}--#{'2'} {
		@include utils-extend('heading', 'size-2');
	}
	&.#{$class-name}--#{'3'} {
		@include utils-extend('heading', 'size-3');
	}
	&.#{$class-name}--#{'4'} {
		@include utils-extend('heading', 'size-4');
	}
}

.egrn-heading {
	@include utils-extend('heading');
	@include egrn-heading--common-mods();
	@include egrn-heading--sizes-mods();
}
h1 {
	@include utils-extend('heading', 'default' 'size-1');
	@include egrn-heading--common-mods();
}
.egrn-h1 {
	@include utils-extend('heading', 'default' 'size-1');
	@include egrn-heading--common-mods('egrn-h1');
}
h2 {
	@include utils-extend('heading', 'default' 'size-2');
	@include egrn-heading--common-mods();
}
.egrn-h2 {
	@include utils-extend('heading', 'default' 'size-2');
	@include egrn-heading--common-mods('egrn-h2');
}
h3 {
	@include utils-extend('heading', 'default' 'size-3');
	@include egrn-heading--common-mods();
}
.egrn-h3 {
	@include utils-extend('heading', 'default' 'size-3');
	@include egrn-heading--common-mods('egrn-h3');
}
h4 {
	@include utils-extend('heading', 'default' 'size-4');
	@include egrn-heading--common-mods();
}
.egrn-h4 {
	@include utils-extend('heading', 'default' 'size-4');
	@include egrn-heading--common-mods('egrn-h4');
}
.egrn-heading-smaller_line {
	display: block;
	font-size: .6452em;
	color: #787b82;
	margin-top: .19em;
}
.egrn-heading-link {
	font-size: $egrn-text-font-size;
	font-family: $egrn-text-font-family-main;
	font-weight: 400;
	text-transform: none;
	margin: 0 .5rem;
	vertical-align: middle;
}