// /*
//  ██   ██ ███████ ██      ██████  ███████ ██████  ███████
//  ██   ██ ██      ██      ██   ██ ██      ██   ██ ██
//  ███████ █████   ██      ██████  █████   ██████  ███████
//  ██   ██ ██      ██      ██      ██      ██   ██      ██
//  ██   ██ ███████ ███████ ██      ███████ ██   ██ ███████
// */
// #helpers
@for $i from 0 through 100 {
	.egrn-helper-width-#{$i} {
		@include egrn-row-item-width($i + 0%);
	}
}
.egrn-helper-width-auto {
	width: auto;
}
.egrn-helper-block-center {
	margin-left: auto;
	margin-right: auto;
}
.egrn-helper-dashed-bottom {
	@include utils-extend('dashed-bottom');
}