// /*
//  ██   ██  ██████  ██████  ██ ███████  ██████  ███    ██ ████████  █████  ██
//  ██   ██ ██    ██ ██   ██ ██    ███  ██    ██ ████   ██    ██    ██   ██ ██
//  ███████ ██    ██ ██████  ██   ███   ██    ██ ██ ██  ██    ██    ███████ ██
//  ██   ██ ██    ██ ██   ██ ██  ███    ██    ██ ██  ██ ██    ██    ██   ██ ██
//  ██   ██  ██████  ██   ██ ██ ███████  ██████  ██   ████    ██    ██   ██ ███████
// 
//  ███████ ███████ ██████   █████  ██████   █████  ████████  ██████  ██████
//  ██      ██      ██   ██ ██   ██ ██   ██ ██   ██    ██    ██    ██ ██   ██
//  ███████ █████   ██████  ███████ ██████  ███████    ██    ██    ██ ██████
//       ██ ██      ██      ██   ██ ██   ██ ██   ██    ██    ██    ██ ██   ██
//  ███████ ███████ ██      ██   ██ ██   ██ ██   ██    ██     ██████  ██   ██
// */
// #horizontal #separator
hr {
	@include utils-extend('horizontal-separator', 'default');

	&#{&}--dashed {
		@include utils-extend('horizontal-separator', 'dashed');
	}
}

@include utils-placeholder('horizontal-separator') {
	margin: 3rem 0;
	background: transparent;
	height: 0;
	border: 0;
	border-bottom: .1rem solid $egrn-design-color-lightgrey;
}
@include utils-placeholder-extend('horizontal-separator', 'dashed', 'dashed-bottom');