// /*
//  ██  ██████  ██████  ███    ██
//  ██ ██      ██    ██ ████   ██
//  ██ ██      ██    ██ ██ ██  ██
//  ██ ██      ██    ██ ██  ██ ██
//  ██  ██████  ██████  ██   ████
// */
// #icon
// #TODO: Надо бы измененить это поведение и убрать в normalize.css определение свазанное с svg и IE. В таком случае надо переделать и все иконки, заранее протестировав в FF их отображение.
$egrn-icon-scales: 70 80 100 110 115 125 150 175; // Надо понимать, что это не реальный масштаб иконок в смысле рендеринга, а как бы относительный в смысле уже финального отображения на странице. В реальности же все иконки масштабируются на 20% выше своего исходного масштаба (см. примечание дальше в плейсхолдерах)

@mixin egrn-icon--mods($class: 'icon') {
	$class-name: utils-class-name($class);
	
	&.#{$class-name}--inline {
		@include utils-extend('icon', 'inline');
	}
	&.#{$class-name}--color-normal {
		@include utils-extend('icon', 'color-normal');
	}
	&.#{$class-name}--color-muted {
		@include utils-extend('icon', 'color-muted');
	}
	&.#{$class-name}--color-inherit {
		@include utils-extend('icon', 'color-inherit');
	}
	&.#{$class-name}--turn-90-cw,
	&.#{$class-name}--turn-right {
		@include utils-extend('icon', 'turn-right');
	}
	&.#{$class-name}--turn-90-ccw,
	&.#{$class-name}--turn-left {
		@include utils-extend('icon', 'turn-left');
	}
	&.#{$class-name}--turn-180,
	&.#{$class-name}--turn-around {
		@include utils-extend('icon', 'turn-180');
	}
	@each $scale in $egrn-icon-scales {
		&.#{$class-name}--scale-#{$scale} {
			@include utils-extend('icon', 'scale-#{$scale}');
		}
	}
}

.egrn-icon {
	@extend %egrn-icon;
	@include egrn-icon--mods();
}

%egrn-icon {
	@include utils-extend('icon', 'size-normal' 'color-normal' 'scale-normal');
}
%egrn-icon--size-normal {
	width: 2rem;
	height: 2rem;
	// display: inline-block; // раз назначается высота и ширина, то это должен быть блок
	// если это SVG то почему-то высота у него отображается даже при display: inline
}
%egrn-icon--size-big {
	width: 2.1rem;
	height: 2.1rem;
}
%egrn-icon--size-small {
	width: 1.7rem;
	height: 1.7rem;
}
%egrn-icon--size-mini {
	width: 1.375rem;
	height: 1.375rem;
}
%egrn-icon--middle {
	vertical-align: middle;
	// margin-top: -.35rem;
	position: relative;
	// top: -.2rem;
	top: -.15rem;
}
%egrn-icon--inline {
	@include utils-extend('icon', 'middle');
}
%egrn-icon--color-normal {
	fill: $egrn-text-color;
	stroke: $egrn-text-color;
}
// #muted
@include utils-placeholder('icon', 'color-muted') {
	fill: #969aa2;
	stroke: #969aa2;
}
@include utils-placeholder-extend('icon', 'muted', 'icon', 'color-muted');
%egrn-icon--color-inherit {
	fill: inherit;
	stroke: inherit;
}
%egrn-icon--turn-90-cw,
%egrn-icon--turn-right {
	@include utils-vendor-prefix(transform, rotate(90deg));
}
%egrn-icon--turn-90-ccw,
%egrn-icon--turn-left {
	@include utils-vendor-prefix(transform, rotate(-90deg));
}
%egrn-icon--turn-180,
%egrn-icon--turn-around {
	@include utils-vendor-prefix(transform, rotate(180deg));
}
%egrn-icon--scale-normal {
	@include utils-extend('icon', 'scale-100');
}
@each $scale in $egrn-icon-scales {
	%egrn-icon--scale-#{$scale} {
		@include utils-vendor-prefix(transform, scale($scale / 80)); // Делим на 80, потому что иконка в SVG нарисована с отступом в 20% от границы viewbox 
	}
}