// /*
//  ██ ███    ██ ████████ ███████ ██████   █████   ██████ ████████ ██ ██    ██ ███████
//  ██ ████   ██    ██    ██      ██   ██ ██   ██ ██         ██    ██ ██    ██ ██
//  ██ ██ ██  ██    ██    █████   ██████  ███████ ██         ██    ██ ██    ██ █████
//  ██ ██  ██ ██    ██    ██      ██   ██ ██   ██ ██         ██    ██  ██  ██  ██
//  ██ ██   ████    ██    ███████ ██   ██ ██   ██  ██████    ██    ██   ████   ███████
// */
// #interactive
@include utils-placeholder-extend('interactive', 'default', 'focus') {
	-webkit-tap-highlight-color: transparent;
}

@include utils-placeholder('interactive', 'pointer') {
	cursor: pointer;
}