// /*
//  ██ ████████ ███████ ███    ███ ███████
//  ██    ██    ██      ████  ████ ██
//  ██    ██    █████   ██ ████ ██ ███████
//  ██    ██    ██      ██  ██  ██      ██
//  ██    ██    ███████ ██      ██ ███████
// */
// #items
.egrn-items {
	@include utils-extend('items', 'default');
	
	& & {
		margin: 0;
	}

	&#{&}--center {
		@include utils-extend('items', 'center');
	}
	&#{&}--vertical {
		flex-direction: column;
	}
	&#{&}--no-wrap {
		flex-wrap: nowrap;
	}
	&#{&}--stretch {
		align-items: stretch;
	}
}

@include utils-placeholder-extend('items', 'default', 'row', 'default' 'wrap') {
	margin: -.7rem -1rem;
}
@include utils-placeholder('items', 'center') {
	justify-content: center;
}

.egrn-items-item {
	@include utils-extend('items-item', 'default');

	&#{&}--double-margin {
		margin-left: 2rem;
		margin-right: 2rem;
	}
	&#{&}--no-margin {
		margin: 0;
		align-self: center;
	}
	&#{&}--fill {
		@include utils-extend('row-item', 'fill');
	}
	&#{&}--stretch {
		@include utils-extend('row-item', 'stretch');
	}
}

@include utils-placeholder('items-item', 'default') {
	margin: .7rem 1rem;
}