// /*
//  ██       █████  ██    ██ ███████ ██████  ███████
//  ██      ██   ██  ██  ██  ██      ██   ██ ██
//  ██      ███████   ████   █████   ██████  ███████
//  ██      ██   ██    ██    ██      ██   ██      ██
//  ███████ ██   ██    ██    ███████ ██   ██ ███████
// */
// #layers
$egrn-base-layer: 0;
@function egrn-layer($offset: 1) {
	@return $egrn-base-layer + $offset - 1;
}
@mixin egrn-layer($offset: 1) {
	z-index: egrn-layer($offset);
}
.egrn-stage-map 			{ @include egrn-layer(10); }
.egrn-stage-map-overlay		{ @include egrn-layer(11); }
.egrn-stage-center 			{ @include egrn-layer(20); }
.egrn-bottombar 			{ @include egrn-layer(30); }
.egrn-topbar 				{ @include egrn-layer(40); }
.egrn-search_invitation		{ @include egrn-layer(50); }
.egrn-popup					{ @include egrn-layer(60); }