// /*
//  ██      ██ ███    ██ ██   ██
//  ██      ██ ████   ██ ██  ██
//  ██      ██ ██ ██  ██ █████
//  ██      ██ ██  ██ ██ ██  ██
//  ███████ ██ ██   ████ ██   ██
// */
// #link
$egrn-link-color: #30789e;
$egrn-link-color-active: #21526b;

@mixin egrn-link--mods($class: 'link') {
	$class-name: utils-class-name($class);
	
	&.#{$class-name}--dashed,
	&.#{$class-name}--pseudo {
		@include utils-extend('link', 'pseudo');

		&:hover, &:active, &:focus {
			@include utils-extend('link', 'pseudo--active');
		}
	}
}

.egrn-link,
a.egrn-link {
	@include utils-extend('link');
	&:hover, &:active, &:focus {
		@include utils-extend('link', 'active');
	}
	@include egrn-link--mods();
}
// Семантика (применяем класс к тегу A и сбрасываем его поведение)
// @include utils-class-apply('link', 'a') {
// 	// @include utils-extend('normalize', 'link');
// 	@include utils-extend('link', 'default');
// 	@include egrn-link--mods();
// }

// %egrn-link--normalize {
// 	&:hover, &:active, &:focus {
// 		@include utils-extend('text', 'color-normal');
// 	}
// }
%egrn-link {
	@include utils-extend('link', 'base' 'interactivity');
}
%egrn-link--base {
	@include utils-extend('text');
	color: $egrn-link-color;
	fill: $egrn-link-color;
}
%egrn-link--active {
	text-decoration: underline;
}
%egrn-link--interactivity {
	@include utils-extend('interactive', 'default' 'pointer');
}
%egrn-link--pseudo {
	text-decoration: none;
	border-bottom: dashed thin $egrn-link-color;
}
%egrn-link--pseudo--active {
	color: $egrn-link-color-active;
}

.egrn-link-icon {
	@include utils-extend('icon', 'default' 'inline' 'color-muted' 'size-small');
	margin-right: .3rem;
}