// /*
//  ██      ██ ███████ ████████
//  ██      ██ ██         ██
//  ██      ██ ███████    ██
//  ██      ██      ██    ██
//  ███████ ██ ███████    ██
// */
// #list

// ul {
// 	@include utils-extend('list');
// 	> li {
// 		@include utils-extend('list-item');
// 		&:before {
// 			@include utils-extend('list-item-marker');
// 		}
// 	}
// }
// ol {
// 	@include utils-extend('list', 'default' 'ordered');
// 	> li {
// 		@include utils-extend('list-item');
// 		&:before {
// 			@include utils-extend('list-item-marker', 'default' 'ordered');
// 		}
// 	}
// }

.egrn-list {
	@include utils-extend('list');
	> li,
	> .egrn-list-item {
		@include utils-extend('list-item');
		&:before,
		> .egrn-list-item-marker {
			@include utils-extend('list-item-marker');
		}
	}
	&#{&}--ordered {
		@include utils-extend('list', 'default' 'ordered');
		> li,
		> .egrn-list-item {
			@include utils-extend('list-item');
			&:before,
			> .egrn-list-item-marker {
				@include utils-extend('list-item-marker', 'default' 'ordered');
			}
		}
	}
}

%egrn-list {
	@include utils-extend('gap', 'default' 'margin-column-15');
	@include utils-extend('edge', 'default' 'margin-column');

	padding: 0 0 0 2.3rem;
}
	%egrn-list--ordered {
		counter-reset: egrn-ordered-list;
	}
%egrn-list-item {
	list-style: none;
	margin: 1.5rem 0;
	position: relative;
}
%egrn-list-item-marker {
	position: absolute;
	left: -2.3rem;
	top: .1rem;
	height: 2rem;
	width: 1.38rem;
	background: url('../img/egrn-list-marker.svg');
	background-size: 100% 100%;
	content: '';
}
	%egrn-list-item-marker--ordered {
		left: -2rem;
		counter-increment: egrn-ordered-list;
		// content: counters(egrn-ordered-list, '.') '.';
		content: counter(egrn-ordered-list) '.';
		background: transparent;
		height: auto;
		width: auto;
	}