// /*
//  ██      ██   ██
//  ██      ██  ██
//  ██      █████
//  ██      ██  ██
//  ███████ ██   ██
// */
// #lk
.egrn-lk {
	@include utils-media('desktop') {
		@include utils-extend('row', 'default' 'top' 'center', 'desktop');
	}
}
.egrn-lk-left {
	@include utils-extend('box');
	@include utils-media('mobile') {
		margin-bottom: 3rem;
		border-radius: 0;
	}
	@include utils-media('desktop') {
		@include utils-extend('row-item', 'default' 'margin-48', 'desktop');
		@include egrn-row-item-width(46.6rem);
	}
}
.egrn-lk-first-line {
	@include utils-media('mobile') {
		// // @include utils-extend('row', 'wrap', 'mobile');
		@include utils-extend('items', 'default' 'center', 'mobile');
	}
	@include utils-media('desktop') {
		// @include utils-extend('row', 'default' 'item-margin-20' 'center', 'desktop'); // 'item-margin-20' здесь не сработает, т.к. она рассчитана на селектор `> .egrn-row-item`, а там будет `> .egrn-lk-first-line-user`
		@include utils-extend('row', 'default' 'center', 'desktop');
	}
}
.egrn-lk-first-line-user {
	@include utils-media('mobile') {
		@include utils-extend('items-item', 'default', 'mobile');
		// margin-bottom: 1.4rem;
		// margin-left: auto;
		// margin-right: auto;
		// max-width: 30rem;
	}
	@include utils-media('desktop') {
		@include utils-extend('row-item', 'default' 'margin-20' 'clip', 'desktop');
	}
}
.egrn-lk-first-line-other {
	@include utils-media('mobile') {
		@include utils-extend('row', 'default' 'item-margin-20' 'center', 'mobile');
		@include utils-extend('items-item', 'default', 'mobile');
	}
	@include utils-media('desktop') {
		@include utils-extend('row', 'default' 'item-margin-20', 'desktop');
		@include utils-extend('row-item', 'default', 'desktop');
	}
}
.egrn-lk-right {
	@include utils-extend('box');
	@include utils-media('mobile') {
		border-radius: 0;
	}
	@include utils-media('desktop') {
		@include utils-extend('row-item', 'default', 'desktop');
		@include egrn-row-item-width(64.6rem);
	}
}
.egrn-lk-right-content {
	@include utils-media('mobile') {
		@include utils-extend('gap', 'default' 'margin-column-30', 'mobile');
	}
	@include utils-media('desktop') {
		@include utils-extend('gap', 'default' 'margin-50', 'desktop');
	}
}
.egrn-lk-right-heading {
	@include utils-extend('heading', 'base' 'size-2' 'alt-font' 'margin-23');
	
	@include utils-media('mobile') {
		@include utils-extend('gap', 'margin-row-15', 'mobile');
	}
	@include utils-media('desktop') {
		margin-top: -1.7rem;
	}
}