// /*
//  ██       ██████   ██████   ██████
//  ██      ██    ██ ██       ██    ██
//  ██      ██    ██ ██   ███ ██    ██
//  ██      ██    ██ ██    ██ ██    ██
//  ███████  ██████   ██████   ██████
// */
// #logo
@mixin egrn-logo--mods($class: 'logo') {
	$class-name: utils-class-name($class);

	&:hover, &:focus {
		@include utils-child('logo-text', 'darker');
	}
	
	&.#{$class-name}--vertical {
		@include utils-extend('row', 'vertical');
		@include utils-child('logo-icon', 'vertical');
		@include utils-child('logo-text', 'vertical');
	}
	&.#{$class-name}--only-icon {
		// @include utils-extend('logo', 'only-icon');
		@include utils-child('logo-icon', 'only-icon');
		@include utils-child('logo-text', 'only-icon');
	}
}

@include utils-class('logo') {
	@include utils-extend('logo');
	@include egrn-logo--mods();
}
// Семантика
@include utils-class-apply('logo', $egrn-base-button-tags) {
	@include utils-extend('normalize', 'button');
	@include utils-extend('logo');
	@include egrn-logo--mods();
}

// #default
@include utils-placeholder('logo') {
	font-size: 1rem; // размер логотипа изменяется с помощью величины шрифта
	padding: .3em;
}
@include utils-placeholder-extend('logo', 'default', 'row', 'default' 'inline');
@include utils-placeholder-extend('logo', 'default', 'button', 'interactivity');
@include utils-placeholder-child('logo', 'default', 'logo-icon', 'horizontal');
@include utils-placeholder-child('logo', 'default', 'logo-text', 'horizontal');
// #only-icon
@include utils-placeholder-child('logo', 'only-icon', 'logo-icon', 'only-icon');
@include utils-placeholder-child('logo', 'only-icon', 'logo-text', 'only-icon');

// /*
//  ██  ██████  ██████  ███    ██
//  ██ ██      ██    ██ ████   ██
//  ██ ██      ██    ██ ██ ██  ██
//  ██ ██      ██    ██ ██  ██ ██
//  ██  ██████  ██████  ██   ████
// */
// #logoicon #icon
@include utils-placeholder('logo-icon', 'horizontal') {
	width: 2em;
	height: 3em;
	margin-right: .7em;
}
@include utils-placeholder('logo-icon', 'vertical') {
	width: 3em;
	height: 4.5em;
	margin-right: 0;
	margin-bottom: 1em;
}
@include utils-placeholder('logo-icon', 'only-icon') {
	margin: 0;
}

// /*
//  ████████ ███████ ██   ██ ████████
//     ██    ██       ██ ██     ██
//     ██    █████     ███      ██
//     ██    ██       ██ ██     ██
//     ██    ███████ ██   ██    ██
// */
// #logotext #text
.egrn-logo-text {
	fill: $egrn-design-color-dark;
}
@include utils-placeholder('logo-text', 'horizontal') {
	width: 12.8em;
	height: 1.6em;
}
@include utils-placeholder('logo-text', 'vertical') {
	width: 12.8em;
	height: 1.6em;
}
@include utils-placeholder('logo-text', 'only-icon') {
	display: none;
}
@include utils-placeholder('logo-text', 'darker') {
	fill: #2c333c;
}