// /*
//  ███    ███  █████  ██████
//  ████  ████ ██   ██ ██   ██
//  ██ ████ ██ ███████ ██████
//  ██  ██  ██ ██   ██ ██
//  ██      ██ ██   ██ ██
// */
// #map
.leaflet-fade-anim .leaflet-tile {
	will-change: auto !important;
}
// .leaflet-map-pane,
// .leaflet-tile-pane,
// .leaflet-clickable-raster-layer {
// 	right: 0;
// 	bottom: 0;
// }

.egrn-map {
	height: 30rem;
}

// #TMP: Это временно для работы оверлея в старой верстке
.egrn-map-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	/*pointer-events: none;*/
	background-color: #dbdfe3;
	opacity: 0.95;
	transition: opacity .2s linear;
}