// /*
//  ███    ███ ███████ ███    ██ ██    ██
//  ████  ████ ██      ████   ██ ██    ██
//  ██ ████ ██ █████   ██ ██  ██ ██    ██
//  ██  ██  ██ ██      ██  ██ ██ ██    ██
//  ██      ██ ███████ ██   ████  ██████
// */
// #menu
%egrn-menu {
	display: block;
}
%egrn-menu--popover {
	padding: 1rem 0;
	background: #fff;
	border-radius: .4rem;
	box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .4);
}
.egrn-menu {
	@include utils-extend('menu', 'default');

	&#{&}--popover {
		@include utils-extend('menu', 'popover');
	}
}
.egrn-menu-item {
	// @include utils-extend('normalize');
	// @include utils-extend('text', 'default' 'normal');
	@include utils-extend('row');
	@include utils-extend('button', 'interactivity');

	background: #fff;
	padding: 0 3rem;
	height: 3.7rem;
	
	&:hover, &:active, &:focus {
		background: #f5f5f5;
	}
	&:focus {
		position: relative;
	}
}
.egrn-menu-item-prefix {
	width: 1.6rem;
	padding: 0 1.1rem 0 0;
	margin-left: -.7rem;
	align-self: center;
}
.egrn-menu-item-prefix-icon {
	@extend %egrn-icon;
	
	width: 1.6rem;
	height: 1.6rem;
	display: block;
}
// .egrn-menu-item-name {}