// /*
//  ███    ██  ██████  ██████  ███    ███  █████  ██      ██ ███████ ███████
//  ████   ██ ██    ██ ██   ██ ████  ████ ██   ██ ██      ██    ███  ██
//  ██ ██  ██ ██    ██ ██████  ██ ████ ██ ███████ ██      ██   ███   █████
//  ██  ██ ██ ██    ██ ██   ██ ██  ██  ██ ██   ██ ██      ██  ███    ██
//  ██   ████  ██████  ██   ██ ██      ██ ██   ██ ███████ ██ ███████ ███████
// */
// #normalize
// %egrn-normalize--button {
// 	@include utils-extend('normalize', 'block' 'interactive');
// 	@include utils-extend('text');
// }
// %egrn-normalize--text-input {
// 	@include utils-extend('normalize', 'button');

// 	&::-webkit-clear-button,
// 	&::-webkit-search-cancel-button {
// 		@include utils-vendor-prefix(appearance, none);
// 		margin: 0;
// 	}
// }
// %egrn-normalize--icon {
// 	@include utils-extend('icon', 'color-normal');
// }
// %egrn-normalize--link {
// 	&:hover, &:active, &:focus {
// 		@include utils-extend('text');
// 	}
// }
%egrn-normalize--block {
	padding: 0;
	margin: 0;
	height: auto;
	width: auto;
	background: transparent;
	border: 0;
	border-radius: 0; // Fennec использует border-radius по умолчанию, надо сбрасывать
}
%egrn-normalize--text {
	@include utils-extend('text');
}
%egrn-normalize--button {
	@include utils-extend('text');
	@include utils-extend('normalize', 'block');
	@include utils-vendor-prefix('appearance', none);
}
%egrn-normalize--text-input {
	@include utils-extend('text');
	@include utils-extend('normalize', 'block');
	background: #fff;
}
// %egrn-normalize--interactive {
// 	-webkit-tap-highlight-color: transparent;

// 	// &:hover, &:active, &:focus {
// 	// 	color: #000;
// 	// 	text-decoration: none;
// 	// }
// }
%egrn-normalize--svg {
	width: 1rem;
	height: 1rem;
	stroke-width: 0;

	// Маленький хак для Gecko, чтобы не было "залипания" выделения текста,
	// если оно задевает `<svg>` с тегом `<use>`
	use {
		user-select: auto;
		-moz-user-select: none;
	}
}