//	 ██████  ██████       ██ ███████  ██████ ████████
//	██    ██ ██   ██      ██ ██      ██         ██
//	██    ██ ██████       ██ █████   ██         ██
//	██    ██ ██   ██ ██   ██ ██      ██         ██
//	 ██████  ██████   █████  ███████  ██████    ██
// 
// #object
@include utils-media('mobile') {
	.egrn-stage.egrn-stage--object-selected {
		.egrn-block {
			display: block;
			top: 20rem;
			left: utils-rem(-$egrn-design-layout-edge-gap-mobile);
			right: utils-rem(-$egrn-design-layout-edge-gap-mobile);
			width: auto;
			pointer-events: all;
		}
		.egrn-tools {
			display: none;
		}
	}
}
@include utils-class('object-title') {
	// @include utils-extend('paragraph', 'margin');
	@include utils-extend('edge', 'margin-column');
	@include utils-extend('gap', 'margin-bottom-15');
}
@include utils-class('object-kadnum') {
	@include utils-extend('text', 'default' 'bold' 'size-relative-16');
	margin: 0;
}
@include utils-class('object-address') {
	padding-right: 4rem;
}