// /*
//   ██████  ██████  ██████  ███████ ██████
//  ██    ██ ██   ██ ██   ██ ██      ██   ██
//  ██    ██ ██████  ██   ██ █████   ██████
//  ██    ██ ██   ██ ██   ██ ██      ██   ██
//   ██████  ██   ██ ██████  ███████ ██   ██
// */
// #order

// /*
//   ██████  ██████       ██ ███████  ██████ ████████
//  ██    ██ ██   ██      ██ ██      ██         ██
//  ██    ██ ██████       ██ █████   ██         ██
//  ██    ██ ██   ██ ██   ██ ██      ██         ██
//   ██████  ██████   █████  ███████  ██████    ██
// */
// #order #object
.egrn-order-object {
	@include utils-extend('paragraph', 'margin');

	&#{&}--blue {
		border: thin solid #E4E6E8;
		border-radius: .2rem;
		
		@include utils-child('order-object-header', 'blue');
		@include utils-child('order-object-content', 'blue');
		@include utils-child('order-section-heading', 'blue');
		@include utils-child('order-positions', 'blue');
	}
}

// #header
.egrn-order-object-header {
	background: #f7f8f9;
	padding: 1.6rem 1.9rem 1.9rem;
}
	%egrn-order-object-header--blue {
		background: #F6F9FB;
		border-bottom: thin solid #E4E6E8;
	}

// #content
.egrn-order-object-content {
	@include utils-extend('gap', 'default' 'margin-10');
}
	%egrn-order-object-content--blue {
		@include utils-extend('gap', 'margin-30');
		margin-left: 2.9rem;
		margin-right: 2.9rem;
	}

.egrn-order-object-header-line {
	@include utils-extend('edge', 'default' 'margin-column');

	margin-bottom: 1rem;
}

.egrn-order-object-address {
	@include utils-extend('text', 'default' 'bold' 'size-relative-16');
}

.egrn-order-object-details {
	@include utils-extend('text', 'default' 'muted');
}

.egrn-order-object-details-item {
	margin-right: 1.8rem;
}

// /*
//  ███████ ███████  ██████ ████████ ██  ██████  ███    ██
//  ██      ██      ██         ██    ██ ██    ██ ████   ██
//  ███████ █████   ██         ██    ██ ██    ██ ██ ██  ██
//       ██ ██      ██         ██    ██ ██    ██ ██  ██ ██
//  ███████ ███████  ██████    ██    ██  ██████  ██   ████
// */
// #order #section
.egrn-order-section {
	@include utils-extend('gap', 'default' 'margin-column-50');
}
// #heading
.egrn-order-section-heading {
	@include utils-extend('heading', 'base' 'size-2' 'margin-23');
}
	%egrn-order-section-heading--blue {
		@include utils-extend('heading', 'muted');
	}

// /*
//  ██████   ██████  ███████ ██ ████████ ██  ██████  ███    ██
//  ██   ██ ██    ██ ██      ██    ██    ██ ██    ██ ████   ██
//  ██████  ██    ██ ███████ ██    ██    ██ ██    ██ ██ ██  ██
//  ██      ██    ██      ██ ██    ██    ██ ██    ██ ██  ██ ██
//  ██       ██████  ███████ ██    ██    ██  ██████  ██   ████
// */
// #order #position
.egrn-order-positions {
	margin: 0 1rem;
}
	%egrn-order-positions--blue {
		margin: 0;
	}
.egrn-order-position {
	@include utils-extend('row', 'default' 'top');
	@include utils-extend('edge', 'default' 'margin-column');
	@include utils-extend('paragraph', 'margin');
	@include utils-direct-child('row-item', 'margin-15');
}
.egrn-order-position-remove {
	@include utils-extend('button', 'default' 'mini' 'muted' 'no-substrate' 'compensate-padding--mini');

	margin-top: -.4rem;
	
	.egrn-button-icon {
		@include utils-extend('icon', 'scale-80');
	}
}

// /*
//  ███████ ████████  █████  ████████ ██    ██ ███████
//  ██         ██    ██   ██    ██    ██    ██ ██
//  ███████    ██    ███████    ██    ██    ██ ███████
//       ██    ██    ██   ██    ██    ██    ██      ██
//  ███████    ██    ██   ██    ██     ██████  ███████
// */
// #order #status
.egrn-order-status {
	@include utils-extend('paragraph', 'default' 'no-margin');
	@include utils-extend('text', 'default' 'cite');

	&#{&}--margin {
		@include utils-extend('gap', 'default' 'margin-column-25');
		@include utils-extend('edge', 'default' 'margin-column');
	}
	&#{&}--margin-5 {
		@include utils-extend('gap', 'margin-column-5');
		@include utils-extend('edge', 'default' 'margin-column');
	}
	&#{&}--margin-10 {
		@include utils-extend('gap', 'margin-column-10');
		@include utils-extend('edge', 'default' 'margin-column');
	}
	&#{&}--green {
		@include utils-extend('text', 'green');
	}
}