// /*
//  ██████   █████   ██████  ███████
//  ██   ██ ██   ██ ██       ██
//  ██████  ███████ ██   ███ █████
//  ██      ██   ██ ██    ██ ██
//  ██      ██   ██  ██████  ███████
// */
// #page
$egrn-page-min-width: utils-rem($egrn-design-layout-min-width);
$egrn-page-edge-gap: utils-rem($egrn-design-layout-edge-gap);

.egrn-page {
	background-color: $egrn-design-color-background;
	min-height: 100%;

	@include utils-media('mobile') {
		// display: table;
		// width: 100%;
		overflow-x: hidden;
	}
	@include utils-media('desktop') {
		// display: table; // чтобы "приклеиваться" к нижней границе окна, но не обрезать содержимое, а раздвигаться вместе с контентом насмотря на указанную высоту 100%, если контент имеет большую высоту, чем эти 100%
		// width: 100%;
		// height: 100%;
		box-sizing: border-box;
		min-width: $egrn-page-min-width;
		padding: 0 $egrn-page-edge-gap;
	}

	// &#{&}--width-1340 {
	// 	// min-width: 134rem;
	// }
}
.egrn-page-content {
	@include utils-media('mobile') {
		padding: $egrn-topbar-height-mobile 0 5rem; 
	}
	@include utils-media('desktop') {
		padding: 5rem 2rem; 
	}
}
.egrn-page-title {
	@include utils-extend('heading', 'default' 'size-1' 'alt-font');

	@include utils-media('mobile') {
		@include utils-extend('gap', 'margin-row-15', 'mobile');
	}
	@include utils-media('desktop') {
		margin-top: 0;
		margin-bottom: 3.1rem;
	}
}