// /*
//  ██████   █████  ██████   █████   ██████  ██████   █████  ██████  ██   ██
//  ██   ██ ██   ██ ██   ██ ██   ██ ██       ██   ██ ██   ██ ██   ██ ██   ██
//  ██████  ███████ ██████  ███████ ██   ███ ██████  ███████ ██████  ███████
//  ██      ██   ██ ██   ██ ██   ██ ██    ██ ██   ██ ██   ██ ██      ██   ██
//  ██      ██   ██ ██   ██ ██   ██  ██████  ██   ██ ██   ██ ██      ██   ██
// */
// #paragraph
$egrn-paragraph-gap-sizes: 5 10 15 20 25 30;
$egrn-paragraph-default-gap-size: 30;

@mixin egrn-paragraph--mods($class: 'paragraph') {
	$class-name: utils-class-name($class);
	
	@each $size in $egrn-paragraph-gap-sizes {
		&.#{$class-name}--margin-#{$size} {
			@include utils-extend('paragraph', 'margin-#{$size}');
		}
	}
	&.#{$class-name}--no-margin {
		@include utils-extend('paragraph', 'no-margin');
	}
	&.#{$class-name}--edge {
		@include utils-extend('paragraph', 'edge');
	}
}

p, .egrn-paragraph {
	@include utils-extend('paragraph');
	@include egrn-paragraph--mods();
}

@include utils-placeholder-extend('paragraph', 'default', 'text');
@include utils-placeholder-extend('paragraph', 'default', 'paragraph', 'margin');
@include utils-placeholder-extend('paragraph', 'margin', 'gap', 'margin-column-#{$egrn-paragraph-default-gap-size}');
@each $size in $egrn-paragraph-gap-sizes {
	@include utils-placeholder-extend('paragraph', 'margin-#{$size}', 'gap', 'margin-column-#{$size}');
}
@include utils-placeholder-extend('paragraph', 'edge', 'edge', 'margin-column');
@include utils-placeholder('paragraph', 'no-margin') {
	margin: 0;
}