// /*
//  ██████  ██       █████  ████████ ███████
//  ██   ██ ██      ██   ██    ██    ██
//  ██████  ██      ███████    ██    █████
//  ██      ██      ██   ██    ██    ██
//  ██      ███████ ██   ██    ██    ███████
// */
// #plate
%egrn-plate {
	@include utils-extend('plate', 'light' 'single-line' 'border-radius');
	
	font-size: 1.5rem;
	line-height: $egrn-text-line-height;
	padding-left: 1rem;
	padding-right: 1rem;
	display: block;
	border: 0;
	width: 100%;
	box-sizing: border-box;
}
@include utils-placeholder-extend('plate', 'border-radius', 'box', 'border-radius');
%egrn-plate--light {
	background: $egrn-design-color-lightgrey-3;
	color: #5e6066;
}
%egrn-plate--dark {
	background: #9398a7;
	color: #fff;
}
%egrn-plate--inline {
	width: auto;
	display: inline-block;
	vertical-align: middle;
}
%egrn-plate--single-line {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 3.2rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
%egrn-plate--multi-line {
	padding-top: .6rem;
	padding-bottom: .6rem;
	line-height: $egrn-text-line-height;
	overflow: visible;
	white-space: normal;
	text-overflow: clip;
}

.egrn-plate {
	@include utils-extend('plate', 'default');
	
	&#{&}--light {
		@extend %egrn-plate--light;
	}
	&#{&}--dark {
		@extend %egrn-plate--dark;
	}
	&#{&}--inline {
		@extend %egrn-plate--inline;
	}
	&#{&}--single-line {
		@extend %egrn-plate--single-line;
	}
	&#{&}--multi-line {
		@extend %egrn-plate--multi-line;
	}
}