// /*
//  ██████   ██████  ██████  ██    ██ ██████
//  ██   ██ ██    ██ ██   ██ ██    ██ ██   ██
//  ██████  ██    ██ ██████  ██    ██ ██████
//  ██      ██    ██ ██      ██    ██ ██
//  ██       ██████  ██       ██████  ██
// */
$egrn-popup-dark-background-color: transparentize($egrn-design-color-dark, .1);
$egrn-popup-dark-text-color: $egrn-design-color-lightgrey-3;
$egrn-popup-slidein-distance: 1.5rem;

.egrn-popup {
	
}