// /*
//  ██████  ███████  █████  ██████  ██ ███    ██ ███████ ███████ ███████
//  ██   ██ ██      ██   ██ ██   ██ ██ ████   ██ ██      ██      ██
//  ██████  █████   ███████ ██   ██ ██ ██ ██  ██ █████   ███████ ███████
//  ██   ██ ██      ██   ██ ██   ██ ██ ██  ██ ██ ██           ██      ██
//  ██   ██ ███████ ██   ██ ██████  ██ ██   ████ ███████ ███████ ███████
// */
// #readiness
@include utils-placeholder('readiness') {
	transition: opacity .3s linear;
}
@include utils-placeholder('readiness', 'ready') {
	opacity: 1;
	// visibility: visible наследуется затем всеми элементами внутри приложения,
	// что возможно не самый лучший вариант, хотя не проверялось, поэтому здесь убрано
}
@include utils-placeholder('readiness', 'not-ready') {
	visibility: hidden;
	opacity: 0;
}
@mixin egrn-readiness($type: 'ready', $selector: &, $media: null) {
	@include utils-extend('readiness', 'default', $media);

	&#{$selector}--not-#{$type} {
		@include utils-extend('readiness', 'not-ready', $media);
	}
	&#{$selector}--#{$type} {
		@include utils-extend('readiness', 'ready', $media);
	}
}