// /*
//  ██████   ██████  ██     ██
//  ██   ██ ██    ██ ██     ██
//  ██████  ██    ██ ██  █  ██
//  ██   ██ ██    ██ ██ ███ ██
//  ██   ██  ██████   ███ ███
// */
// #row
$egrn-row-gap-sizes: 5 10 15;
$egrn-row-item-gap-sizes: 10 12 15 20 48;

.egrn-row {
	@include utils-extend('row', 'default');

	&#{&}--block {
		@include utils-extend('row', 'block');
	}
	&#{&}--inline {
		@include utils-extend('row', 'inline');
	}
	&#{&}--top {
		@include utils-extend('row', 'top');
	}
	&#{&}--stretch {
		@include utils-extend('row', 'stretch');
	}
	&#{&}--bottom {
		@include utils-extend('row', 'bottom');

		> .egrn-row-item.egrn-row-item--dashed-filler {
			@include utils-extend('row-item--dashed-filler', 'bottom');
		}
	}
	&#{&}--left {
		@include utils-extend('row', 'left');
	}
	&#{&}--center {
		@include utils-extend('row', 'center');
	}
	&#{&}--right {
		@include utils-extend('row', 'right');
	}
	&#{&}--vertical {
		@include utils-extend('row', 'vertical');
	}
	@each $size in $egrn-row-item-gap-sizes {
		&#{&}--item-margin-#{$size} {
			@include utils-direct-child('row-item', 'margin-#{$size}') {
				@each $size in $egrn-row-item-gap-sizes {
					&.egrn-row-item--margin-#{$size} {
						@include utils-extend('row-item', 'margin-#{$size}');
					}
				}
			}
		}
		// > .egrn-row-item.egrn-row-item--margin-#{$size} {
		// 	@include utils-extend('row-item', 'margin-#{$size}');
		// }
	}
	&#{&}--margin,
	&#{&}--paragraph {
		@include utils-extend('row', 'margin');
	}
	@each $size in $egrn-row-gap-sizes {
		&#{&}--margin-#{$size} {
			@include utils-extend('row', 'margin-#{$size}');
		}
	}
	&#{&}--edge {
		@include utils-extend('row', 'edge');
	}
}

@include utils-placeholder('row') {
	display: flex;
	align-items: center;
	justify-content: normal;
	flex-flow: row nowrap;
}
@include utils-placeholder('row', 'block') {
	display: flex;
}
@include utils-placeholder('row', 'inline') {
	display: inline-flex;
}
@include utils-placeholder('row', 'top') {
	align-items: flex-start;
}
@include utils-placeholder('row', 'stretch') {
	align-items: stretch;
}
@include utils-placeholder('row', 'bottom') {
	align-items: flex-end;
}
@include utils-placeholder('row', 'left') {
	justify-content: flex-start;
}
@include utils-placeholder('row', 'center') {
	justify-content: safe center;
}
@include utils-placeholder('row', 'right') {
	justify-content: flex-end;
}
@include utils-placeholder('row', 'vertical') {
	flex-direction: column;
}
@include utils-placeholder('row', 'vertical') {
	flex-direction: column;
}
@include utils-placeholder-extend('row', 'margin', 'paragraph', 'margin');
@include utils-placeholder-extend('row', 'paragraph', 'row', 'margin');
@each $size in $egrn-row-gap-sizes {
	@include utils-placeholder-extend('row', 'margin-#{$size}',  'gap', 'margin-column-#{$size}');
}
@include utils-placeholder-extend('row', 'edge', 'edge', 'margin-column');
@include utils-placeholder('row', 'wrap') {
	flex-wrap: wrap;
}
@each $size in $egrn-row-item-gap-sizes {
	@include utils-placeholder-direct-child('row', 'item-margin-#{$size}', 'row-item', 'margin-#{$size}');
	// 	@each $size in $egrn-row-item-gap-sizes {
	// 		&.egrn-row-item--margin-#{$size} {
	// 			@include utils-extend('row-item', 'margin-#{$size}');
	// 		}
	// 	}
	// }
}

// /*
//  ██████   ██████  ██     ██
//  ██   ██ ██    ██ ██     ██
//  ██████  ██    ██ ██  █  ██
//  ██   ██ ██    ██ ██ ███ ██
//  ██   ██  ██████   ███ ███
// 
//  ██ ████████ ███████ ███    ███
//  ██    ██    ██      ████  ████
//  ██    ██    █████   ██ ████ ██
//  ██    ██    ██      ██  ██  ██
//  ██    ██    ███████ ██      ██
// */
// #row #item
@mixin egrn-row-item--mods($class: 'row-item') {
	$class-name: utils-class-name($class);
	
	@each $size in $egrn-row-item-gap-sizes {
		&.#{$class-name}--margin-#{$size} {
			@include utils-extend('row-item', 'margin-#{$size}');
		}
	}
	&.#{$class-name}--fill {
		@include utils-extend('row-item', 'fill');
	}
	&.#{$class-name}--no-shrink {
		@include utils-extend('row-item', 'no-shrink');
	}
	&.#{$class-name}--dashed-filler {
		@include utils-extend('row-item', 'dashed-filler');
	}
	&.#{$class-name}--top {
		@include utils-extend('row-item', 'top');
	}
	&.#{$class-name}--middle {
		@include utils-extend('row-item', 'middle');
	}
	&.#{$class-name}--stretch {
		@include utils-extend('row-item', 'stretch');
	}
	&.#{$class-name}--bottom {
		@include utils-extend('row-item', 'bottom');
	}
	&.#{$class-name}--clip {
		@include utils-extend('row-item', 'clip');
	}
}

@include utils-class('row-item', join($egrn-base-text-input-tags, $egrn-base-button-tags)) {
// .egrn-row-item {
	@include utils-extend('row-item', 'default');
	@include egrn-row-item--mods();
}

@include utils-placeholder('row-item', 'default') {
	flex: 0 1 auto;
}
@each $size in $egrn-row-item-gap-sizes {
	@include utils-placeholder-extend('row-item', 'margin-#{$size}', 'gap', 'margin-right-#{$size}');
	@include utils-placeholder-extend('row-item', 'margin-#{$size}', 'edge', 'margin-row');
}
@include utils-placeholder('row-item', 'fill') {
	flex-grow: 1;
}
@include utils-placeholder('row-item', 'no-shrink') {
	flex-shrink: 0;
}
@include utils-placeholder-extend('row-item', 'dashed-filler', 'dashed-bottom');
@include utils-placeholder-extend('row-item', 'dashed-filler', 'row-item', 'fill') {
	flex-basis: 15rem;
	margin: -.7rem 1.5rem .7rem;
	padding: 0;
}
@include utils-placeholder('row-item', 'dashed-filler--bottom') {
	margin-top: -.4rem;
	margin-bottom: .4rem;
}
@include utils-placeholder('row-item', 'top') {
	align-self: flex-start;
}
@include utils-placeholder('row-item', 'middle') {
	align-self: center;
}
@include utils-placeholder('row-item', 'stretch') {
	align-self: stretch;
}
@include utils-placeholder('row-item', 'bottom') {
	align-self: flex-end;
}
@include utils-placeholder('row-item', 'clip') {
	overflow: hidden;
}

@mixin egrn-row-item-width($width) {
	width: $width;
	min-width: $width;
	max-width: $width;
	flex-basis: $width;
}