// /*
//  ███████  ██████ ██████   ██████  ██      ██
//  ██      ██      ██   ██ ██    ██ ██      ██
//  ███████ ██      ██████  ██    ██ ██      ██
//       ██ ██      ██   ██ ██    ██ ██      ██
//  ███████  ██████ ██   ██  ██████  ███████ ███████
// 
//   █████  ██████  ██      ███████
//  ██   ██ ██   ██ ██      ██
//  ███████ ██████  ██      █████
//  ██   ██ ██   ██ ██      ██
//  ██   ██ ██████  ███████ ███████
// */
// #scrollable
.egrn-scrollable {
	overflow: auto;

	&#{&}--shadows {
		// js: включает поведение с внутренней тенью
	}
}
.jspScrollable {
	@extend %egrn-focus;
}
.jspContainer {
	&::before, &::after {
		content: '';
		display: block;
		position: absolute;
		height: .5rem;
		width: 100%;
		pointer-events: none;
		transition: opacity .3s linear;
		opacity: 0;
	}
	&::before {
		background: linear-gradient(rgba(0,0,0,.1), transparent);
	}
	&::after {
		bottom: 0;
		background: linear-gradient(transparent, rgba(0,0,0,.1));
	}

	&.egrn-scrollable-shadow-top {
		&::before {
			opacity: 1;
		}
	}

	&.egrn-scrollable-shadow-bottom {
		&::after {
			opacity: 1;
		}
	}
}
.jspVerticalBar {
	// position: absolute;
	// top: 0;
	// right: 0;
	// width: 16px;
	// height: 100%;
	// background: red;

	width: .6rem !important;
	background: transparent !important;
}
.jspTrack {
	// background: #dde;
	// position: relative;

	background: transparent !important;
}
.jspDrag {
	// background: #bbd;
	// position: relative;
	// top: 0;
	// left: 0;
	// cursor: pointer;

	background: #ced0d2 !important;
	border-radius: 5rem;
}