// /*
//  ███████ ███████  █████  ██████   ██████ ██   ██
//  ██      ██      ██   ██ ██   ██ ██      ██   ██
//  ███████ █████   ███████ ██████  ██      ███████
//       ██ ██      ██   ██ ██   ██ ██      ██   ██
//  ███████ ███████ ██   ██ ██   ██  ██████ ██   ██
// 
//  ███████ ██ ███████ ██      ██████
//  ██      ██ ██      ██      ██   ██
//  █████   ██ █████   ██      ██   ██
//  ██      ██ ██      ██      ██   ██
//  ██      ██ ███████ ███████ ██████
// */
// #searchfield
.egrn-search_field {
	@include utils-extend('box');

	display: table;
	width: 35rem;
	height: 4rem;
}
.egrn-search_field-icon {
	display: table-cell;
	width: 3.8rem;
	min-width: 3.8rem;
	text-align: center;
	vertical-align: middle;
	background: #fff;
}
.egrn-search_field-icon-graphics {
	width: 1.6rem;
	height: 1.6rem;
	vertical-align: sub;
	display: inline-block;
	fill: $egrn-tool-icon-color-active;
	@include utils-vendor-prefix(transform, scale(1.25));
}
.egrn-search_field-input {
	display: table-cell;
	vertical-align: middle;
	padding: .3rem 0;
	width: 100%;
}
.egrn-search_field-input-control {
	border: 0;
	padding: 0 .3rem 0 0;
	width: 100%;
	height: 100%;

	&:focus, &:active {
		outline: none;
	}

	&::-webkit-clear-button,
	&::-webkit-search-cancel-button {
		@include utils-vendor-prefix(appearance, none);
		margin: 0;
	}
}
.egrn-search_field-submit {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	padding: .3rem 0;
}
.egrn-search_field-submit-control {
	@include utils-extend('button', 'default' 'green' 'tight');

	margin: 0 .3rem 0 0;
	height: 100%;
}

// /*
//  ███████ ███████  █████  ██████   ██████ ██   ██
//  ██      ██      ██   ██ ██   ██ ██      ██   ██
//  ███████ █████   ███████ ██████  ██      ███████
//       ██ ██      ██   ██ ██   ██ ██      ██   ██
//  ███████ ███████ ██   ██ ██   ██  ██████ ██   ██
// 
//  ██ ███    ██ ██    ██ ██ ████████  █████  ████████ ██  ██████  ███    ██
//  ██ ████   ██ ██    ██ ██    ██    ██   ██    ██    ██ ██    ██ ████   ██
//  ██ ██ ██  ██ ██    ██ ██    ██    ███████    ██    ██ ██    ██ ██ ██  ██
//  ██ ██  ██ ██  ██  ██  ██    ██    ██   ██    ██    ██ ██    ██ ██  ██ ██
//  ██ ██   ████   ████   ██    ██    ██   ██    ██    ██  ██████  ██   ████
// */
// #searchinvitation
@include utils-vendor-prefix(keyframes, egrn-search_invitation-arrow-shaft) {
	from { opacity: 1 }
	to {
		opacity: 1;
		stroke-dasharray: 130 200;
	}
}
@include utils-vendor-prefix(keyframes, egrn-search_invitation-arrow-head) {
	from { opacity: 1 }
	to {
		opacity: 1;
		stroke-dasharray: 35 200;
	}
}
.egrn-search_invitation {

	// #ГРЯЗНУЛЯ
	@include utils-media('mobile') {
		display: none;
	}

	position: relative;
	// top: .3rem;
	// left: 25.3rem;
	// top: 0;
	// left: 0;
	cursor: default;
	// white-space: nowrap;
	display: inline-block;
	vertical-align: middle;
	left: -2rem;
	pointer-events: none;

	&#{&}--hidden {
		display: none;
	}
}
.egrn-search_invitation-heading {
	opacity: 0;
	@include utils-vendor-prefix(transform, translateY(-4rem));
	@include utils-vendor-prefix(animation, .8s egrn-slidein forwards 0s);
	margin-top: 0;
	margin-bottom: 4.3rem;
	position: absolute;
	white-space: nowrap;
	left: 8rem;
	top: -2.3rem;
}
.egrn-search_invitation-tip {
	opacity: 0;
	@include utils-vendor-prefix(transform, translateY(-4rem));
	font-size: 1.9rem;
	font-weight: 700;
	@include utils-vendor-prefix(animation, .8s egrn-slidein forwards 0.4s);
	position: absolute;
	white-space: nowrap;
	left: 8rem;
	top: 5.5rem;
}
.egrn-search_invitation-arrow {
	position: absolute;
	top: -.7rem;
	left: -.8rem;
	width: 8.1rem;
	height: 8.1rem;
	stroke: #616161;
	stroke-width: 2.8;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}
.egrn-search_invitation-arrow-shaft {
	opacity: 0;
	@include utils-vendor-prefix(animation, .8s egrn-search_invitation-arrow-shaft forwards 0.9s);
	stroke-dasharray: 0 200;
}
.egrn-search_invitation-arrow-head {
	opacity: 0;
	@include utils-vendor-prefix(animation, .5s egrn-search_invitation-arrow-head forwards 1.5s);
	stroke-dasharray: 0 200;
}