// /*
//  ███████ ███████  ██████ ████████ ██  ██████  ███    ██
//  ██      ██      ██         ██    ██ ██    ██ ████   ██
//  ███████ █████   ██         ██    ██ ██    ██ ██ ██  ██
//       ██ ██      ██         ██    ██ ██    ██ ██  ██ ██
//  ███████ ███████  ██████    ██    ██  ██████  ██   ████
// */
// #section
$egrn-section-gap-sizes: 10 30 50;
.egrn-section {
	@include utils-extend('section');

	// @include egrn-gap--mods('section', $egrn-section-gap-sizes);
	// @include egrn-gap--mods('section', $egrn-section-gap-sizes, 30);
	&#{&}--combine {
		@include utils-media('mobile') {
			@include utils-extend('gap', 'margin-column-30', 'mobile');
			@include utils-extend('gap', 'padding-row-15', 'mobile');
		}
		@include utils-media('desktop') {
			@include utils-extend('gap', 'combine-30', 'desktop');
		}
	}
	&#{&}--combine-alt {
		@include utils-media('mobile') {
			@include utils-extend('gap', 'padding-column-30', 'mobile');
			@include utils-extend('gap', 'margin-row-15', 'mobile');
		}
		@include utils-media('desktop') {
			@include utils-extend('gap', 'combine-alt-30', 'desktop');
		}
	}

	&#{&}--dashed-bottom {
		@include utils-extend('section', 'dashed-bottom');
	}
}
// @include utils-placeholder-extend('section', 'default', 'section', 'margin');
@include utils-placeholder('section') {}
@include utils-placeholder-extend('section', 'margin', 'gap', 'margin-30');
@include utils-placeholder-extend('section', 'dashed-bottom', 'dashed-bottom');