// /*
//  ███████ ██   ██  █████  ██████   ██████  ██     ██
//  ██      ██   ██ ██   ██ ██   ██ ██    ██ ██     ██
//  ███████ ███████ ███████ ██   ██ ██    ██ ██  █  ██
//       ██ ██   ██ ██   ██ ██   ██ ██    ██ ██ ███ ██
//  ███████ ██   ██ ██   ██ ██████   ██████   ███ ███
// */
// #shadow
@include utils-placeholder('shadow', 'normal') {
	box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .2);
}
@include utils-placeholder('shadow', 'dense') {
	box-shadow: 0 .1rem .4rem rgba(0, 0, 0, .4);
}
@include utils-placeholder('shadow', 'popup') {
	box-shadow: 0 .1rem .4rem rgba(0, 0, 0, .3);
}
@include utils-placeholder('shadow', 'wide') {
	box-shadow: 0 .1rem 1.5rem rgba(0, 0, 0, 0.15);
}