// /*
//  ███████ ████████  █████   ██████  ███████
//  ██         ██    ██   ██ ██       ██
//  ███████    ██    ███████ ██   ███ █████
//       ██    ██    ██   ██ ██    ██ ██
//  ███████    ██    ██   ██  ██████  ███████
// */
// #stage
$egrn-stage-min-width: utils-rem($egrn-design-layout-min-width);
$egrn-stage-min-height: 70rem;
$egrn-stage-edge-gap: utils-rem($egrn-design-layout-edge-gap);
$egrn-stage-edge-gap-mobile: utils-rem($egrn-design-layout-edge-gap-mobile);

.egrn-stage {
	position: relative;
	height: 100%;
	background-color: $egrn-design-color-background;
	// background-image: url('../img/egrn-background-map.jpg');
	// background-repeat: no-repeat;
	// background-position: 50% 4rem;
	// background-size: 134rem 75.8rem;

	@include utils-media('mobile') {
		min-height: 100%;
	}
	
	@include utils-media('desktop') {
		min-width: $egrn-stage-min-width;
		min-height: $egrn-stage-min-height;

		@include utils-child('topbar', 'absolute', 'desktop');
	}
}
.egrn-stage-top {
	position: absolute;
	top: 0;

	@include utils-media('desktop') {
		left: $egrn-stage-edge-gap;
		right: $egrn-stage-edge-gap;
	}
}
.egrn-stage-center {
	position: absolute;
	top: $egrn-topbar-height + $egrn-stage-edge-gap;
	left: $egrn-stage-edge-gap;
	right: $egrn-stage-edge-gap;

	@include utils-media('mobile') {
		top: $egrn-topbar-height-mobile + $egrn-stage-edge-gap-mobile;
		bottom: $egrn-stage-edge-gap-mobile;
		left: $egrn-stage-edge-gap-mobile;
		right: $egrn-stage-edge-gap-mobile;
		pointer-events: none;
	}

	// // @include utils-media('mobile') { // ???
	// // 	visibility: hidden !important;
	// // 	opacity: 0;

	// // 	.egrn-toolbar.egrn-toolbar--ready {
	// // 		visibility: hidden;
	// // 		// #CBFIX Все тот же Android Browser 4.4.4 на Webkit 537.36 - иначе он показывает скроллбары у НЕВИДИМЫХ элементов
	// // 		opacity: 0;
	// // 	}
	// // }
	// @include utils-media('desktop') {
	// 	position: absolute;
	// 	top: $egrn-topbar-height + $egrn-stage-edge-gap;
	// 	left: $egrn-stage-edge-gap;
	// 	right: $egrn-stage-edge-gap;
	// 	// bottom: $egrn-bottombar-height + $egrn-stage-edge-gap;
	// }
}
.egrn-stage-map {
	// width: 100%;
	height: 100%;
}
.egrn-stage-map-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: transparentize(#dbdfe3, .05);
	transition: opacity .2s linear;
	opacity: 0;

	&#{&}--visible {
		opacity: 1;
		bottom: 0;
	}
	&#{&}--hidden {
		bottom: auto;
	}
	&#{&}--hiding {
		pointer-events: none;
		opacity: 0;
	}
}