// /*
//  ████████  █████  ██████  ██      ███████
//     ██    ██   ██ ██   ██ ██      ██
//     ██    ███████ ██████  ██      █████
//     ██    ██   ██ ██   ██ ██      ██
//     ██    ██   ██ ██████  ███████ ███████
// */
// #table
$egrn-table-even-row-color: $egrn-design-color-lightgrey-3;
$egrn-table-even-row-color-2: $egrn-design-color-lightgrey-4;
$egrn-table-gap-sizes: $egrn-paragraph-gap-sizes;

.egrn-table {
	display: table;
	width: 100%;

	@include egrn-paragraph--mods('table');

	&#{&}--lighter {
		@include utils-direct-child('table-row', 'lighter');
	}
	&#{&}--bigger-text {
		@include utils-extend('text', 'size-relative-15');

		> .egrn-table-row > .egrn-table-cell {
			@include utils-extend('table-cell', 'padding-wider');
		}
	}
	&#{&}--first-col-bold {
		> .egrn-table-row > .egrn-table-cell:first-child {
			@include utils-extend('table-cell', 'bold');
		}
	}
	&#{&}--first-col-muted {
		> .egrn-table-row > .egrn-table-cell:first-child {
			@include utils-extend('table-cell', 'muted');
		}
	}
}

// /*
//  ████████  █████  ██████  ██      ███████
//     ██    ██   ██ ██   ██ ██      ██
//     ██    ███████ ██████  ██      █████
//     ██    ██   ██ ██   ██ ██      ██
//     ██    ██   ██ ██████  ███████ ███████
// 
//  ██████   ██████  ██     ██
//  ██   ██ ██    ██ ██     ██
//  ██████  ██    ██ ██  █  ██
//  ██   ██ ██    ██ ██ ███ ██
//  ██   ██  ██████   ███ ███
// */
// #table #row
.egrn-table-row {
	@extend %egrn-table-row;
}

%egrn-table-row {
	display: table-row;

	&:nth-child(2n) {
		background: $egrn-table-even-row-color;
	}
}
%egrn-table-row--lighter {
	&:nth-child(2n) {
		background: $egrn-table-even-row-color-2;
	}
}

// /*
//  ████████  █████  ██████  ██      ███████
//     ██    ██   ██ ██   ██ ██      ██
//     ██    ███████ ██████  ██      █████
//     ██    ██   ██ ██   ██ ██      ██
//     ██    ██   ██ ██████  ███████ ███████
// 
//   ██████ ███████ ██      ██
//  ██      ██      ██      ██
//  ██      █████   ██      ██
//  ██      ██      ██      ██
//   ██████ ███████ ███████ ███████
// */
// #table #cell
@mixin egrn-table-cell--mods($class: 'table-cell') {
	$ns: utils-namespace();
	
	&.#{$ns}#{$class}--bold {
		@include utils-extend('table-cell', 'bold');
	}
	&.#{$ns}#{$class}--muted {
		@include utils-extend('table-cell', 'muted');
	}
}

.egrn-table-cell {
	@extend %egrn-table-cell;
	@include egrn-table-cell--mods();
}

%egrn-table-cell {
	display: table-cell;
	padding: .5rem 0 .5rem .5rem;

	&:last-child {
		padding-right: .5rem;
	}
}
%egrn-table-cell--bold {
	@include utils-extend('text', 'bold');
}
%egrn-table-cell--muted {
	@include utils-extend('text', 'muted');
}
%egrn-table-cell--padding-wider {
	padding-left: 1rem;

	&:last-child {
		padding-right: 1rem;
	}
}

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

table.egrn-table {
	> tr,
	> tbody > tr {
		@include utils-extend('table-row');

		> td {
			@include utils-extend('table-cell');
			@include egrn-table-cell--mods();
		}
	}

	&.egrn-table--bigger-text {
		> tr > td,
		> tbody > tr > td {
			@include utils-extend('table-cell', 'padding-wider');
		}
	}
	&.egrn-table--first-col-bold {
		> tr > td:first-child,
		> tbody > tr > td:first-child {
			@include utils-extend('table-cell', 'bold');
		}
	}
	&.egrn-table--first-col-muted {
		> tr > td:first-child,
		> tbody > tr > td:first-child {
			@include utils-extend('table-cell', 'muted');
		}
	}
}