// /*
//  ████████  █████   ██████ 
//     ██    ██   ██ ██      
//     ██    ███████ ██   ███
//     ██    ██   ██ ██    ██
//     ██    ██   ██  ██████ 
// */
// #tag
%egrn-tag--top-right {
	position: absolute;
	top: -1rem;
	right: -1rem;
	bottom: auto;
	left: auto;
}
%egrn-tag--green {
	background-color: #7cb83a;
	border-radius: 5rem;
	color: #fff;
}

.egrn-tag {
	display: inline-block;
	padding: 1rem .65rem 1.1rem;
	cursor: default;
	@include utils-vendor-prefix(user-select, none);
	line-height: 0;
	font-size: 1.3rem;
	white-space: nowrap;

	// #NOTE #BUG Вот такой extend вызывает простое прекращение скрипта без какой-либо ошибки в Node Sass. Причем если указать через запятую, то все ок.
	// @extend #{&}--top-right;
	// @extend #{&}--green;
	@include utils-extend('tag', 'top-right' 'green');

	&#{&}--top-left {
		position: absolute;
		top: -1rem;
		left: -1rem;
		bottom: auto;
		right: auto;
	}
	&#{&}--top-right {
		@include utils-extend('tag', 'top-right');
	}
	&#{&}--bottom-right {
		position: absolute;
		bottom: -1rem;
		right: -1rem;
		top: auto;
		left: auto;
	}
	&#{&}--bottom-left {
		position: absolute;
		bottom: -1rem;
		left: -1rem;
		top: auto;
		right: auto;
	}
	&#{&}--green {
		@include utils-extend('tag', 'green');
	}
	&#{&}--red {
		@extend .egrn-tag--green;
		background-color: #ed4d6e;
	}
	@mixin content($content: null) {
		&#{&}--content-#{$content} {
			content: '#{$content}';
		}
	}
	@for $i from 0 through 5 {
		@include content($i);
	}
}

// /*
//  ████████  █████   ██████
//     ██    ██   ██ ██
//     ██    ███████ ██   ███
//     ██    ██   ██ ██    ██
//     ██    ██   ██  ██████
// 
//  ██████   █████  ██████  ███████ ███    ██ ████████
//  ██   ██ ██   ██ ██   ██ ██      ████   ██    ██
//  ██████  ███████ ██████  █████   ██ ██  ██    ██
//  ██      ██   ██ ██   ██ ██      ██  ██ ██    ██
//  ██      ██   ██ ██   ██ ███████ ██   ████    ██
// */
// #tagparent #parent
.egrn-tag-parent {
	position: relative;

	&#{&}--pseudo {
		&:after {
			@extend .egrn-tag;
		}
	}
	&#{&}--inline {
		display: inline-block;
	}
}