// /*
//  ████████ ███████ ██   ██ ████████
//     ██    ██       ██ ██     ██
//     ██    █████     ███      ██
//     ██    ██       ██ ██     ██
//     ██    ███████ ██   ██    ██
// */
// #text
@function egrn-text-font-size-relative($size, $base) {
	@return $size / $base;
}
@function egrn-text-font-size-rem($size) {
	@return egrn-text-font-size-relative($size, 10) + rem;
}
@function egrn-text-font-size-em($size, $root-size: $egrn-design-font-size-base) {
	@return egrn-text-font-size-relative($size, $root-size) + em;
}

$egrn-text-font-main: $egrn-design-font-main;
$egrn-text-font-alt: $egrn-design-font-alt;
$egrn-text-font-family-main: $egrn-text-font-main, sans-serif;
$egrn-text-font-family-alt: $egrn-text-font-alt, sans-serif;
$egrn-text-font-size: egrn-text-font-size-rem($egrn-design-font-size-base);
$egrn-text-font-sizes: 10 12 13 14 15 16 18 24;
$egrn-text-line-height: 1.3;
$egrn-text-color: $egrn-design-color-text;
$egrn-text-color-normal: $egrn-text-color;
$egrn-text-color-muted: $egrn-design-color-text-muted;
$egrn-text-color-highlighted: $egrn-design-color-text-highlighted;

strong {
	@include utils-extend('text', 'bold');
}

.egrn-text {
	&#{&}--normal {
		@include utils-extend('text', 'default');
	}
	&#{&}--muted {
		@include utils-extend('text', 'muted');
	}
	&#{&}--highlighted {
		@include utils-extend('text', 'highlighted');
	}
	&#{&}--bold {
		@include utils-extend('text', 'bold');
	}
	&#{&}--alt-font {
		@include utils-extend('text', 'alt-font');
	}
	@each $size in $egrn-text-font-sizes {
		&#{&}--size-#{$size} {
			@include utils-extend('text', 'size-#{$size}');
		}
		&#{&}--size-relative-#{$size} {
			@include utils-extend('text', 'size-relative-#{$size}');
		}
	}
	&#{&}--center {
		@include utils-extend('text', 'center');
	}
	&#{&}--middle {
		@include utils-extend('text', 'middle');
	}
	&#{&}--no-wrap {
		@include utils-extend('text', 'no-wrap');
	}
	&#{&}--cite {
		@include utils-extend('text', 'cite');
	}
	&#{&}--green {
		@include utils-extend('text', 'green');
	}
}

// #--normal
%egrn-text {
// @include utils-placeholder('text') {
	font-size: $egrn-text-font-size;
	font-weight: 400;
	font-family: $egrn-text-font-family-main;
	font-style: normal;
	line-height: $egrn-text-line-height;
	color: $egrn-text-color;
	text-align: left;
	text-decoration: none;
	text-transform: none;
}
// #--muted
%egrn-text--muted {
// @include utils-placeholder('text', 'muted') {
	color: $egrn-text-color-muted;
}
// #--highlighted
@include utils-placeholder('text', 'highlighted') {
	display: inline-block;
	background-color: $egrn-text-color-highlighted;
	padding: 0 .25em .2em;
	margin: .1em 0;
}
@include utils-placeholder('text', 'bold') {
	font-weight: 700;
}
@include utils-placeholder('text', 'alt-font') {
	font-family: $egrn-text-font-family-alt;
}
@each $size in $egrn-text-font-sizes {
	@include utils-placeholder('text', 'size-#{$size}') {
		font-size: egrn-text-font-size-rem($size);
	}
	@include utils-placeholder('text', 'size-relative-#{$size}') {
		font-size: egrn-text-font-size-em($size);
	}
}
@include utils-placeholder('text', 'center') {
	text-align: center;
}
@include utils-placeholder('text', 'middle') {
	vertical-align: middle;
}
@include utils-placeholder('text', 'no-wrap') {
	white-space: nowrap;
}
// #--cite
@include utils-placeholder('text', 'cite') {
	border-left: .1rem solid $egrn-design-color-lightgrey-2;
	padding-left: 2rem;
	padding-right: 2rem;
}
@include utils-placeholder('text', 'green') {
	color: $egrn-design-color-green;
}