// /*
//  ████████ ███████ ██   ██ ████████
//     ██    ██       ██ ██     ██
//     ██    █████     ███      ██
//     ██    ██       ██ ██     ██
//     ██    ███████ ██   ██    ██
// 
//  ██ ███    ██ ██████  ██    ██ ████████
//  ██ ████   ██ ██   ██ ██    ██    ██
//  ██ ██ ██  ██ ██████  ██    ██    ██
//  ██ ██  ██ ██ ██      ██    ██    ██
//  ██ ██   ████ ██       ██████     ██
// */
// #textinput
@mixin egrn-text_input--mods($class: 'text_input') {
	&.#{utils-class-name($class)}--tight {
		@include utils-extend('text_input', 'tight');
	}
	&.#{utils-class-name($class)}--bigger-text {
		@include utils-extend('text_input', 'bigger-text');
	}
	&.#{utils-class-name($class)}--fill {
		@include utils-extend('text_input', 'fill');
	}
}

@include utils-class('text_input') {
	@include utils-extend('text_input');
	@include egrn-text_input--mods();
}
@include utils-class-apply('text_input', $egrn-base-text-input-tags) {
	@include utils-extend('normalize', 'text-input');
	@include utils-extend('text_input');
	@include egrn-placeholder();

	&::-webkit-clear-button,
	&::-webkit-search-cancel-button {
		@include utils-vendor-prefix(appearance, none);
		margin: 0;
	}

	@include egrn-text_input--mods();
}

%egrn-text_input {
	@include utils-extend('interactive');
	@include utils-extend('wire', 'default' 'interactive');
	@include utils-extend('text_input', 'normal');

	display: inline-block;
	border-radius: .2rem;
	background: #fff;
}
%egrn-text_input--normal {
	padding: 0 1.4rem;
	line-height: 3.7rem;
}
%egrn-text_input--tight {
	line-height: 3.1rem;
}
%egrn-text_input--bigger-text {
	font-size: 1.5rem;
}
%egrn-text_input--fill {
	width: 100%;
	box-sizing: border-box;
}

// /*
//   ██████  ██████  ███    ███ ██████  ██ ███    ██ ███████ ██████
//  ██      ██    ██ ████  ████ ██   ██ ██ ████   ██ ██      ██   ██
//  ██      ██    ██ ██ ████ ██ ██████  ██ ██ ██  ██ █████   ██   ██
//  ██      ██    ██ ██  ██  ██ ██   ██ ██ ██  ██ ██ ██      ██   ██
//   ██████  ██████  ██      ██ ██████  ██ ██   ████ ███████ ██████
// 
//  ████████ ███████ ██   ██ ████████
//     ██    ██       ██ ██     ██
//     ██    █████     ███      ██
//     ██    ██       ██ ██     ██
//     ██    ███████ ██   ██    ██
// 
//  ██ ███    ██ ██████  ██    ██ ████████
//  ██ ████   ██ ██   ██ ██    ██    ██
//  ██ ██ ██  ██ ██████  ██    ██    ██
//  ██ ██  ██ ██ ██      ██    ██    ██
//  ██ ██   ████ ██       ██████     ██
// */
// #combined
.egrn-combined_text_input {
	@include utils-extend('combined_text_input', 'default');

	&#{&}--tight {
		@include utils-child('combined_text_input-control', 'tight');
	}
	&#{&}--bigger-text {
		@include utils-child('combined_text_input-control', 'bigger-text');
	}
}

%egrn-combined_text_input {
	@include utils-extend('text_input');

	padding: 0;
	line-height: normal;
}

.egrn-combined_text_input-aligner {
	@include utils-extend('row');
}
.egrn-combined_text_input-aligner-control {}
.egrn-combined_text_input-aligner-suffix {
	padding: 0 1.2rem 0 0;
	line-height: 0;
}

.egrn-combined_text_input-control {
	@include utils-extend('combined_text_input-control', 'default');
}
@include utils-class-apply('combined_text_input-control', $egrn-base-text-input-tags) {
	@include utils-extend('normalize', 'text-input');
	@include utils-extend('combined_text_input-control', 'default');
	@include egrn-placeholder();
}

%egrn-combined_text_input-control {
	@include utils-extend('text_input', 'normal');
}
%egrn-combined_text_input-control--tight {
	@extend %egrn-text_input--tight;
}
%egrn-combined_text_input-control--bigger-text {
	@extend %egrn-text_input--bigger-text;
}

.egrn-combined_text_input-appendix-icon {
	@include utils-extend('icon', 'default' 'color-muted');

	width: 1.6rem;
	height: 1.6rem;
}
.egrn-combined_text_input-appendix-text {
	@include utils-extend('text', 'default' 'muted');
	@include utils-vendor-prefix(user-select, none);
}