// /*
//  ████████  ██████   ██████  ██      ███████
//     ██    ██    ██ ██    ██ ██      ██
//     ██    ██    ██ ██    ██ ██      ███████
//     ██    ██    ██ ██    ██ ██           ██
//     ██     ██████   ██████  ███████ ███████
// */
// #tools
$egrn-tool-icon-color-active: $egrn-design-color-orange;

.egrn-tools {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	@include utils-media('mobile') {
		bottom: 0;
	}

	@include utils-media('desktop') {
		height: 0;
	}
	
	// #CBFIX Android Browser 4.4.4 Webkit 537.36 - Если не указывать ширину, то она auto, то ширины дочерних элементов указанные в процентах будут отображаться некорректно.
	// width: 0;

	// width: 0; // По иной причине нежели выше, по причине прохождения клика сквозь контейнер к карте. Если сделать ширину 0, то этот контейнер как бы будет прозрачен, т.к. будет схлопнут в вертикальную линию.
}

// /*
//  ████████  ██████   ██████  ██      ██████   █████  ██████
//     ██    ██    ██ ██    ██ ██      ██   ██ ██   ██ ██   ██
//     ██    ██    ██ ██    ██ ██      ██████  ███████ ██████
//     ██    ██    ██ ██    ██ ██      ██   ██ ██   ██ ██   ██
//     ██     ██████   ██████  ███████ ██████  ██   ██ ██   ██
// */
// #tool #bar
.egrn-toolbar {
	@include utils-media('mobile') {
		height: 0;
	}

	@include utils-media('desktop') {
		@include utils-extend('box', 'default', 'desktop');
		@include utils-extend('edge', 'margin-column', 'desktop');
		margin: 2rem 0;
		width: 3.8rem;
		@include utils-vendor-prefix(transform, translate3d(0, 0, 0));
	}

	&#{&}--expanded {
		@include utils-child('tool', 'expanded');
		@include utils-child('tool-title-text', 'expanded');
	}
	&#{&}--expanding {
		@include utils-child('tool-title-text', 'expanded');
	}
	&#{&}--empty {
		display: none;
	}
}

// /*
//  ████████  ██████   ██████  ██      ███████
//     ██    ██    ██ ██    ██ ██      ██
//     ██    ██    ██ ██    ██ ██      ███████
//     ██    ██    ██ ██    ██ ██           ██
//     ██     ██████   ██████  ███████ ███████
// 
//  ██████  ██    ██     ██ ██████
//  ██   ██  ██  ██      ██ ██   ██
//  ██████    ████       ██ ██   ██
//  ██   ██    ██        ██ ██   ██
//  ██████     ██        ██ ██████
// */
// #tools #by #id
#egrn-search-tool {
	@include utils-media('mobile') {
		top: 0;
		left: 0;

		&.egrn-tool--active {
			left: -$egrn-stage-edge-gap-mobile;
			right: -$egrn-stage-edge-gap-mobile;
			width: auto;
			border-radius: 0;

			.egrn-tool-icon {
				margin-left: $egrn-stage-edge-gap-mobile;
			}
		}
	}
}
#egrn-layers-tool {
	@include utils-media('mobile') {
		top: 6.9rem;
		left: 0;

		.egrn-tool-icon-graphics {
			@include utils-vendor-prefix(transform, scale(1.5));
		}
	}
}
#egrn-ruler-tool {
	@include utils-media('mobile') {
		bottom: 13.2rem;
		left: 0;

		.egrn-tool-icon-graphics {
			@include utils-vendor-prefix(transform, scale(1.5));
		}
	}
}
#egrn-print-tool {
	@include utils-media('mobile') {
		display: none;
	}
}
#egrn-panorama-tool {
	@include utils-media('mobile') {
		bottom: 6.9rem;
		left: 0;

		.egrn-tool-icon-graphics {
			@include utils-vendor-prefix(transform, scale(2.3));
		}
	}
}
#egrn-location-tool {
	@include utils-media('mobile') {
		bottom: .7rem;
		right: 0;

		.egrn-tool-icon-graphics {
			@include utils-vendor-prefix(transform, scale(1.4));
		}
	}
}
#egrn-share-tool {
	@include utils-media('mobile') {
		bottom: .7rem;
		left: 0;

		.egrn-tool-icon-graphics {
			@include utils-vendor-prefix(transform, scale(1.4));
		}
	}
}
#egrn-contact-tool {
	@include utils-media('mobile') {
		display: none;
	}
}
#egrn-help-tool {
	@include utils-media('mobile') {
		display: none;
	}
}
#egrn-estate-tool {
	@include utils-media('mobile') {
		display: none;
	}
}
#egrn-settings-tool {
	@include utils-media('mobile') {
		display: none;
	}
}
#egrn-zoom-in-tool {
	@include utils-media('mobile') {
		bottom: 13.2rem;
		right: 0;
	}
}
#egrn-zoom-out-tool {
	@include utils-media('mobile') {
		bottom: 6.9rem;
		right: 0;
	}
}
#egrn-marker-tool {
	@include utils-media('mobile') {
		display: none;
	}
}

// /*
//  ████████  ██████   ██████  ██
//     ██    ██    ██ ██    ██ ██
//     ██    ██    ██ ██    ██ ██
//     ██    ██    ██ ██    ██ ██
//     ██     ██████   ██████  ███████
// */
// #tool
.egrn-tool {
	@include utils-extend('row');

	cursor: pointer;

	@include utils-media('mobile') {
		@include utils-extend('box', 'default', 'mobile');
		@include utils-extend('edge', 'margin-column', 'mobile');
		border-radius: 2.1rem;
		height: 4.2rem;
		width: 4.2rem;
		pointer-events: auto;
		position: absolute;
	}

	@include utils-media('desktop') {
		position: relative;
		height: 4rem;

		&::before {
			content: '';
			position: absolute;
			height: 0;
			left: .7rem;
			right: .7rem;
			top: 0;
			border-top: .1rem solid #dee1e4;
			transition: left .3s linear, right .3s linear;
		}
		&:first-child {
			&::before {
				display: none;
			}
		}
	}

	&:hover, &:focus {
		@include utils-child('tool-icon-graphics', 'active');
	}

	&#{&}--expanded {
		@extend %egrn-tool--expanded;
	}
	&#{&}--active {
		@extend %egrn-tool--active;
	}
}
%egrn-tool--expanded {
	&::before {
		left: 1rem;
		right: 1rem;
	}
}
%egrn-tool--active {
	@include utils-child('tool-icon-graphics', 'active');
}

.egrn-tool-icon {
	@include utils-extend('row', 'default' 'center');

	text-align: center;
	cursor: pointer; // надо, если вдруг .egrn-tool-icon не div, а другой тег, у которого cursor отличается от pointer
	flex: 0 1 auto;
	align-self: stretch;

	@include utils-media('mobile') {
		width: 4.2rem;
		min-width: 4.2rem;
		flex-basis: 4.2rem;
	}
	@include utils-media('desktop') {
		width: 3.8rem;
		min-width: 3.8rem;
		flex-basis: 3.8rem;
	}

	&#{&}--special {
		@include utils-child('tool-icon-graphics', 'special');
	}
	&#{&}--scale-out {
		@include utils-child('tool-icon-graphics', 'scale-out');
	}
	&#{&}--scale-out-special {
		@include utils-child('tool-icon-graphics', 'scale-out-special');
	}
	&#{&}--scale-in {
		@include utils-child('tool-icon-graphics', 'scale-in');
	}
	&#{&}--scale-in-more {
		@include utils-child('tool-icon-graphics', 'scale-in-more');
	}
}

.egrn-tool-icon-graphics {
	@extend %egrn-icon;

	width: 1.6rem;
	height: 1.6rem;
	vertical-align: sub;
	display: inline-block;
}
%egrn-tool-icon-graphics--special {
	fill: #4d9cd2;
}
@include utils-placeholder('tool-icon-graphics', 'scale-out') {
	@include utils-vendor-prefix(transform, scale(1)); // 80%
}
%egrn-tool-icon-graphics--scale-out-special {
	@include utils-vendor-prefix(transform, scale(1.1));
}
%egrn-tool-icon-graphics--scale-in {
	@include utils-vendor-prefix(transform, scale(1.5625)); // 125%
}
@include utils-placeholder('tool-icon-graphics', 'scale-in-more') {
	@include utils-vendor-prefix(transform, scale(1.875)); // 150%
}
%egrn-tool-icon-graphics--active {
	fill: $egrn-tool-icon-color-active;
}

.egrn-tool-ui {
	// #CBFIX Android Browser 4.4.4 Webkit 537.36 - Надо указывать величину всех ячеек в строке, иначе ячейки будут центорваться в контейнере таблицы, если он больше ширины всех ячеек
	// width: 100%;
	// height: 100%;
	// width: 100%;
	align-self: stretch;
	flex: 1 1 auto;

	@include utils-media('mobile') {}
	@include utils-media('desktop') {
		position: relative;
	}
}

.egrn-tool-title {
	overflow: hidden;
	// height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 1.8rem;

	@include utils-media('mobile') {
		display: none;
	}
}

.egrn-tool-title-aligner {
	@extend %egrn-row;
	// @extend %egrn-row--stretch;

	// display: table;
	height: 100%;
	// position: absolute;
}

.egrn-tool-title-text {
	// display: table-cell;
	// vertical-align: middle;
	// #KOSTYL Величина падинга справа здесь должна быть, чтобы вычислялась правильная ширина тулбара в развернутом состоянии, чтобы не городить костыли в JS, не прописывать этот отступ в JS
	padding: 0 2rem 0 0;
	white-space: nowrap;
	opacity: 0;
	transition: opacity .4s linear;
	// height: 100%; // Вебкит? ¯\_(ツ)_/¯

}
%egrn-tool-title-text--expanded {
	opacity: 1;
}

// /*
//  ███████ ███████  █████  ██████   ██████ ██   ██
//  ██      ██      ██   ██ ██   ██ ██      ██   ██
//  ███████ █████   ███████ ██████  ██      ███████
//       ██ ██      ██   ██ ██   ██ ██      ██   ██
//  ███████ ███████ ██   ██ ██   ██  ██████ ██   ██
// 
//  ████████  ██████   ██████  ██
//     ██    ██    ██ ██    ██ ██
//     ██    ██    ██ ██    ██ ██
//     ██    ██    ██ ██    ██ ██
//     ██     ██████   ██████  ███████
// */
// #search #tool
@include utils-vendor-prefix(keyframes, 'egrn-search_tool-field') {
	to { left: 100%; }
}

.egrn-search_tool {
	&#{&}--normal {
		@include utils-child('search_tool-field', 'normal');
	}
	&#{&}--mini {
		@include utils-child('search_tool-field', 'mini');
		@include utils-child('search_tool-field-submit-clip', 'mini');
	}
}

.egrn-search_tool-field {
	@include utils-extend('row', 'default' 'stretch');

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	cursor: default;
	visibility: hidden;
}
%egrn-search_tool-field--normal {
	visibility: visible;

	@include utils-media('mobile') {
		left: $egrn-stage-edge-gap-mobile + 4.2rem;
		right: $egrn-stage-edge-gap-mobile;
	}

	@include utils-media('desktop') {
		@include utils-extend('box', 'default', 'desktop');
		width: 34.6rem;
		// анимация нужна, когда панель раскрыта и в поле начинается ввод, тогда показыватся "normal"-версия поля, когда панель еще не до конца скрыта. Задержка анимации позволяет подождать перед применением стиля `left: 100%`
		@include utils-vendor-prefix(animation, .5s 'egrn-search_tool-field' .5s forwards);

		&::before {
			content: '';
			position: absolute;
			width: .6rem;
			height: 100%;
			background: #fff;
			left: -.4rem;
			top: 0;
		}
	}
	
}
%egrn-search_tool-field--mini {
	visibility: visible;

	@include utils-media('mobile') {
		left: $egrn-stage-edge-gap-mobile + 4.2rem;
		right: $egrn-stage-edge-gap-mobile;
	}
}

.egrn-search_tool-field-input {
	padding: .3rem 0;
	flex: 1 1 auto;
}

@include utils-class('search_tool-field-input-control', $egrn-base-text-input-tags) {
	border: 0;
	padding: 0 .3rem 0 0;
	width: 100%;
	height: 100%;
	transition: width .5s $egrn-easing;
	position: relative; // Чтобы вылезал поверх белого поля, которое скрывает тень слева

	&:focus, &:active {
		outline: none;
	}
}
@include utils-class-apply('search_tool-field-input-control', $egrn-base-text-input-tags) {
	@include utils-extend('normalize', 'text-input');
	@include egrn-placeholder();
	
	&::-webkit-clear-button,
	&::-webkit-search-cancel-button {
		@include utils-vendor-prefix(appearance, none);
		margin: 0;
	}
}

.egrn-search_tool-field-submit {
	@include utils-media('mobile') {
		display: none;
	}
	@include utils-media('desktop') {
		padding: .302rem; // #CBFIX: спасибо хрому
		padding-left: 0;
		flex: 0 1 auto;
	}
}

.egrn-search_tool-field-submit-clip {
	height: 100%;

}
%egrn-search_tool-field-submit-clip--mini {
	overflow: hidden;
	width: 0;
}

@include utils-class('search_tool-field-submit-control', $egrn-base-button-tags) {
	@include utils-extend('button', 'default' 'green' 'tight');
	margin: 0;
	height: 100%;
	position: relative; // чтобы outline был поверх поля ввода слева
}
@include utils-class-apply('search_tool-field-submit-control', $egrn-base-button-tags) {
	@include utils-extend('normalize', 'button');
	
	&:disabled {
		@include utils-extend('button', 'disabled');
	}
}