// /*
//  ████████  ██████  ██████  ██████   █████  ██████
//     ██    ██    ██ ██   ██ ██   ██ ██   ██ ██   ██
//     ██    ██    ██ ██████  ██████  ███████ ██████
//     ██    ██    ██ ██      ██   ██ ██   ██ ██   ██
//     ██     ██████  ██      ██████  ██   ██ ██   ██
// */
// #topbar
$egrn-topbar-height: utils-rem($egrn-design-layout-topbar-height);
$egrn-topbar-height-mobile: utils-rem($egrn-design-layout-topbar-height-mobile);

.egrn-topbar {
	@include utils-media('mobile') {
		@include utils-extend('shadow', 'default' 'wide', 'mobile');

		position: fixed;
		width: 100%;
		height: $egrn-topbar-height-mobile;
		background: #fff;
	}

	@include utils-media('desktop') {
		@include utils-extend('row', 'default' 'stretch', 'desktop');
		@include utils-extend('fancy-corners', 'default', 'desktop');
		@include utils-extend('shadow', 'default' 'normal', 'desktop');

		position: relative; // Чтобы он был выше остального дерьма и тенюшка перекрывала остальной контент, а также для того, чтобы ему присваивался нужный z-index
		width: 100%;
		height: $egrn-topbar-height;
		background: transparentize(#e7e9eb, .05);
	}
}
	@include utils-placeholder('topbar', 'absolute') {
		position: absolute; // а это, чтобы не растягивал родителя, чтобы в уголках панели можно было управлять картой, чтобы клик проходил мимо скругленного уголка вниз к карте
	}

.egrn-topbar-logo {
	@include utils-media('mobile') {
		position: absolute;
		left: 50%;
		top: 50%;

		@include utils-child('logo', 'only-icon', 'mobile') {
			position: absolute;
			top: -1.8em; // половины ширины логотипа в em-ах плюс padding
			left: -1.3em;
		}
	}

	@include utils-media('desktop') {
		@include utils-extend('fancy-corners', 'default', 'desktop');
		@include utils-extend('row', 'default', 'desktop');

		background: #fff;
		box-shadow: .4rem 0 .6rem rgba(0, 0, 0, .1);
		padding: 0 1.1rem 0 .8rem;
		// width: 16.1rem;
		// min-width: 16.1rem;
		// width: 18rem;
		// box-sizing: border-box;
	}
}

.egrn-topbar-left {
	@include utils-extend('row', 'default' 'stretch');
	padding-left: 2.2rem;
}
.egrn-topbar-right {
	margin-left: auto;
	@include utils-extend('row', 'default' 'stretch');
}
.egrn-topbar-menu {
	@include utils-extend('row', 'default' 'stretch');

	@include utils-media('mobile') {
		display: none;
	}
}
.egrn-topbar-menu-link,
a.egrn-topbar-menu-link {
	@include utils-extend('row');
	@include utils-extend('link', 'interactivity');
	@include utils-extend('text', 'default' 'size-relative-15');

	padding: 0 1.2rem .2rem;
	white-space: nowrap;
}
.egrn-topbar-phones {
	@include utils-extend('row', 'default' 'stretch');
	@include utils-extend('text', 'size-relative-15');
	cursor: default;

	@include utils-media('mobile') {
		display: none;
	}
}
.egrn-topbar-phone {
	@include utils-extend('row');
	@include utils-extend('text', 'default' 'size-relative-15' 'muted');
	padding: 0 1rem .3rem;
	white-space: nowrap;
}
.egrn-topbar-icons {
	@include utils-extend('row', 'default' 'stretch');
	@include utils-extend('text', 'size-relative-15');
	@include utils-media('desktop') {
		margin-right: .3rem;
	}
}
.egrn-topbar-icon {
	cursor: pointer;
	@include utils-extend('row');
	padding: 0 1.8rem .3rem;

	&#{&}--hidden {
		display: none;
	}
	&#{&}--muted {
		fill: #BBBDC0;
	}

	@include utils-media('mobile') {
		position: absolute;
		top: 1rem;
	}
}
.egrn-topbar-icon-menu {
	@include utils-media('mobile') {
		display: block;
		left: 6%;

		.egrn-icon {
			fill: $egrn-design-color-orange;
		}
	}
	@include utils-media('desktop') {
		display: none;
	}
}
.egrn-topbar-icon-star {
	@include utils-media('mobile') {
		// right: 23%;
		left: 23%;
	}
	@include utils-media('desktop') {
		// display: none;
		@include utils-child('icon', 'muted', 'desktop');
	}
}
.egrn-topbar-icon-cart {
	display: none;

	// @include utils-media('mobile') {
	// 	right: 6%;
	// }
}
.egrn-topbar-icon-messages {
	@include utils-media('mobile') {
		// display: none;
		right: 23%;
	}
}
.egrn-topbar-icon-profile {
	@include utils-media('mobile') {
		// left: 23%;
		right: 6%;
	}
}