// /*
//  ██     ██ ██ ██████  ███████
//  ██     ██ ██ ██   ██ ██
//  ██  █  ██ ██ ██████  █████
//  ██ ███ ██ ██ ██   ██ ██
//   ███ ███  ██ ██   ██ ███████
// */
// #wire
%egrn-wire {
	@include utils-extend('wire', 'normal' 'interactive');

	border-width: .1rem;
	border-style: solid;
}
%egrn-wire--normal {
	border-color: #d2d7dc;
}
%egrn-wire--active {
	border-color: #bcc4cc;
}
%egrn-wire--interactive {
	&:hover, &:active, &:focus {
		@include utils-extend('wire', 'active'); // решение в focus
	}

	&:disabled {
		&:hover, &:active, &:focus {
			@include utils-extend('wire', 'normal');
		}
	}
}
%egrn-wire--not-interactive {
	&:hover, &:active, &:focus {
		@include utils-extend('wire', 'normal');
	}
}